{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Collab</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<div class=" app-content">
					<div class="side-app">
            <br>
            <div class="container content-area">
              <div class="horizontal-content">
                {% include '_alerts.html' %}


            <div class="row">
              <div class="col-md-3">

              </div>
              <div class="col-md-6">
                <a href="{% url 'create_collab' %}"><button type="button" class="btn btn-outline-info col-md-12"><strong>Create</strong></button></a>

              </div>
              <div class="col-md-3">

              </div>
            </div>
            <br>
						<div class="row">
              {% for collab in all_collabs_page_obj %}
							<div class="col-xl-4 col-lg-4 col-md-12">
								<div class="card">
									<div class="card-body">
										<a href="{% url 'show_collab' collab.id %}"><h3 class=" mb-1"><span class="text-info">{{collab.title|slice:":27"}}...</span></h3></a>
                    <h5 class=" mb-1">{{collab.field}}</h5>

										<p class="text-muted">{{collab.abstract|slice:":200"}}...</p>
                    <div class="row">
                      <div class="col-md-3">
                        {% if collab.researcher.photograph %}
                          {% if collab.researcher %}
      										<a href="{% url 'show_user' collab.researcher.user_Id %}"><img href="" src="{{ collab.researcher.photographURL }}" alt="Photograph" class="profile-small"></a>
                          {% else %}
                          {% endif %}
                        {% else %}
                          {% if collab.researcher %}
      										<a href="{% url 'show_user' collab.researcher.user_Id %}"><i class="fa fa-user-circle text-info fa-3x"></i></a>
                          {% else %}
                          {% endif %}
                        {% endif %}
                      </div>
                      <div class="col-md-5">
                      </div>
                      <div class="col-md-3 mr-1">
                        <a href="{% url 'show_collab' collab.id %}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i> View</a>
                      </div>
                    </div>

									</div>
								</div>
							</div>
              {% endfor %}
						</div>



          </div>
        </div>
      </div>
    </div>
{% endblock content%}
