{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Collab Details</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <div class="row bg-light">
              <div class="col-md-6 ml-2">
                <br>
                <ul>
                  <li><a title="CollabDocs" href="folders"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  <li><a title="Tasks" href="tasks"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  <li><a title="Scheduler" href="schedules"><i class="fas fa-calendar-check text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ChatRoom" href="{% url 'chat' collab.id %}"><i class="fas fa-users text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ResearchNotes" href="notes"><i class="fas fa-clipboard text-info fa-2x mr-2"></i></a></li>
                </ul>
              </div>
              <div class="col-md-5">
                <br>

              </div>
            </div>
            <hr class="bg-info">
              {% include '_alerts.html' %}
              <div class="container content-area">
                <div class="horizontal-content">

                  <div class="row">
      							<div class="col-xl-8 col-lg-12 col-md-12">
      								<div class="card">
      									<div class="card-body">
      										<div class="mt-4 mb-4">
      											<h3 class="text-info">{{collab.title}}</h3>
      											<h5 class="mb-3 mt-2">Research Description</h5>
      											<p>{{collab.abstract|linebreaks}}</p>
      										</div>
      										<div class="mt-4 product-spec">
      											<div class="pro_detail">
      												<ul class="list-unstyled mb-0">
      													<li class="row border-bottom-0">
      														<div class="col-sm-3 text-muted mb-2">Proposed Timeline</div>
      														<div class="col-sm-9 mb-2">{{collab.proposed_timeline}}</div>
      													</li>
      													<li class=" row border-bottom-0">
      														<div class="col-sm-3 text-muted mb-2">collaborator's Research Experience</div>
      														<div class="col-sm-3 mb-2">{{collab.education}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Research Field</div>
      														<div class="col-sm-3 mb-2">{{collab.field}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Collaborator's Expertise</div>
      														<div class="col-sm-3 mb-2">{{collab.expertise_required}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Collaboration Model</div>
      														<div class="col-sm-6 mb-2">{{collab.model}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Funding</div>
      														<div class="col-sm-3 mb-2">{{collab.funding}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Number of Collaborators Required</div>
      														<div class="col-sm-3 mb-2">{{collab.collaborators_no}}</div>
      													</li>

      												</ul>
      											</div>
      										</div>

      									</div>
      								</div>
      							</div>
                    <div class="col-xl-4 col-md-12">
                      Initiated on {{collab.created}}
                      <br>
                      <br>
                      {% if collab.collaborators.all %}
                      <h5>Collaborators <span class="badge badge-info badge-pill">{{counter}}</span></h5>
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            {% for person in collab.collaborators.all %}
                              {% if person.photograph %}
                                <a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-col"></a>
                              {% else %}
                                <a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-5x"></i></a>
                              {% endif %}
                              {% if person in collab.removed_people.all %}
                              <strong><p>Removed/<a class="text-info" href="">Report</a></p></strong>
                              {% else %}
                              <strong><p><a class="text-info" href="removed/{{person.username}}">Remove</a>/<a class="text-info" href="">Report</a></p></strong>
                              {% endif %}
                              <br>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      <br>
                      <br>
                      Locked on {{collab.locked_date}}
                      <a class="text-white" href="{% url 'unlock_collab' collab.id %}"><button class="btn btn-info" type="button" name="button"><strong><i class="fas fa-unlock fa-1x mr-1"></i>Unlock</strong></button></a>
                      <br>
                      <br>
                      <br>
                      <br>
                      <a class="text-white" href="{% url 'conclude_collab' collab.id %}"><button class="btn btn-info" type="button" name="button"><strong><i class="fas fa-check-circle fa-1x mr-1"></i>Conclude</strong></button></a>


                    </div>

      						</div>
      					</div>
              </div>


          </div>
        </div>

{% endblock content%}
