{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Collab Documents</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<div class=" app-content">
					<div class="side-app">
            <div class="row bg-light">
              <div class="col-md-3 ml-2">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <li><a title="CollabDocs" href="{% url 'folders_initiated' collab.id %}"><i class="fas fa-folder-open text-light-blue fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="CollabDocs" href="{% url 'folders_accepted' collab.id %}"><i class="fas fa-folder-open text-light-blue fa-2x mr-2"></i></a></li>
                  {% endif %}
                  {% if request.user == collab.researcher %}
                  <li><a title="Tasks" href="{% url 'tasks_initiated' collab.id %}"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="Tasks" href="{% url 'tasks_accepted' collab.id %}"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  <li><a title="Scheduler" href="schedules"><i class="fas fa-calendar-check text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ChatRoom" href="{% url 'chat' collab.id %}"><i class="fas fa-users text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ResearchNotes" href="notes"><i class="fas fa-clipboard text-info fa-2x mr-2"></i></a></li>
                </ul>
              </div>
              <div class="col-md-5">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <a href="{% url 'show_collab_initiated' collab.id %}"><h4 class=" mb-1"><span class="text-info">{{collab.title}}</span></h4></a>
                  {% elif request.user in collab.collaborators.all %}
                  <a href="{% url 'show_collab_accepted' collab.id %}"><h4 class=" mb-1"><span class="text-info">{{collab.title}}</span></h4></a>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-3 text-right">
                <br>
                <ul>
                  {% if collab.researcher.photograph %}
                  <li><sup><a href="{% url 'show_user' collab.researcher.user_Id %}"><img href="" src="{{ collab.researcher.photographURL }}" alt="Photograph" class="profile-not"><strong>{{collab.researcher.first_name|slice:":1"}}</strong> <strong>{{collab.researcher.last_name|slice:":1"}}</strong></a></sup></li>
                  {% else %}
                  <li><a href="{% url 'show_user' collab.researcher.user_Id %}"><i class="fa fa-user-circle text-info fa-2x"></i><strong>{{collab.researcher.first_name|slice:":1"}}</strong> <strong>{{collab.researcher.last_name|slice:":1"}}</strong></a></li>
                  {% endif %}
                  {% for person in collab.collaborators.all %}
                    {% if person.photograph %}
                      <li><sup><a href="{% url 'show_user' person.user_Id %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-not"><strong>{{person.first_name|slice:":1"}}</strong> <strong>{{person.last_name|slice:":1"}}</strong></a></sup></li>
                    {% else %}
                      <li><a href="{% url 'show_user' person.user_Id %}"><i class="fa fa-user-circle text-info fa-2x"></i><sup><strong>{{person.first_name|slice:":1"}}</strong> <strong>{{person.last_name|slice:":1"}}</strong></sup></a></li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </div>

            <hr class="bg-info">
              {% include '_alerts.html' %}
              <div class="container content-area">
                <div class="horizontal-content">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <div class="col-md-4">

                            <div class="modal fade" id="add1" role="dialog">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title text-info" id="inquiryModalLabel"><i class="fas fa-upload"></i> Upload</h4>
                                          <button type="button" class="close" data-dismiss="modal">
                                              <span>&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                        <br>
                                        <form action="{% url 'collab_docs_initiated' collab.id folder.id %}" method="post" class="form-inline col-lg-12 text-info" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" multiple name="uploadfiles">
                                        <button class="btn btn-info" type="submit" name="button">Upload</button>

                                      </form>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <button class="btn btn-outline-info col-md-12" data-toggle="modal" data-target="#add1"><strong>Upload</strong></button>

                          </div>
                          <div class="col-md-4">
                          </div>
                          <div class="col-md-4">
                            <div class="float-right text-right">
                              <div class="card-options">
                                <span class="dropdown-toggle fs-16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v" ></i></span>
                                {% for doc in collab_docs_page_obj %}
                                {% if request.user in doc.is_selected.all %}
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                  <li><a href="{{folder.id}}/delete-all"><i class="fa fa-trash mr-2"></i>Delete Selected</a></li>
                                </ul>
                                {% endif %}
                                {% endfor %}
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="card-body">
                          <div class="table-responsive mb-0">
                            <table class="table table-bordered table-hover mb-0 text-nowrap">
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Date</th>
                                  <th>Type</th>
                                  <th>Shared by</th>
                                  <th>Selected</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for doc in collab_docs_page_obj %}
                                {% if request.user in doc.is_selected.all %}
                                <tr class="bg-info">
                                  <td><a class="text-white" href="{{folder.id}}/deselect/{{doc.id}}">{{doc.name}}</a></td>
                                  <td class="num-font"><a class="text-white" href="{{folder.id}}/deselect/{{doc.id}}">{{doc.created}}</a></td>
                                  <td class="num-font"><a class="text-white" href="{{folder.id}}/deselect/{{doc.id}}">{{doc.type}}</a></td>
                                  <td class="num-font"><a class="text-white" href="{{folder.id}}/deselect/{{doc.id}}">{{doc.shared_by}}</a></td>
                                  <td class="text-center"><a class="text-white" href="{{folder.id}}/deselect/{{doc.id}}"><i class="fa fa-check-circle"></i></a></td>
                                  <td>
                                    <div class="card-options">
                                      <span class="dropdown-toggle fs-16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v" ></i></span>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li>{% if doc.shared_by == request.user %} <a href="{{folder.id}}/update/{{doc.id}}"><i class="fa fa-edit mr-2"></i>Rename</a> {% else %} {% endif %}</li>
                                        {% if doc.document %}
                                        <li><a href="{{doc.document.url}}" download><i class="fa fa-download mr-2"></i>Download</a></li>
                                        {% endif %}
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                                {% else %}
                                <tr>
                                  <td><a href="{{folder.id}}/select/{{doc.id}}">{{doc.name}}</a></td>
                                  <td class="num-font"><a href="{{folder.id}}/select/{{doc.id}}">{{doc.created}}</a></td>
                                  <td class="num-font"><a href="{{folder.id}}/select/{{doc.id}}">{{doc.type}}</a></td>
                                  <td class="num-font"><a href="{{folder.id}}/select/{{doc.id}}">{{doc.shared_by}}</a></td>
                                  <td class="text-center"></td>
                                  <td>
                                    <div class="card-options">
                                      <span class="dropdown-toggle fs-16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v" ></i></span>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li>{% if doc.shared_by == request.user %} <a href="{{folder.id}}/update/{{doc.id}}"><i class="fa fa-edit mr-2"></i>Rename</a> {% else %} {% endif %}</li>
                                        <li><a href="{{doc.document.url}}" download><i class="fa fa-download mr-2"></i>Download</a></li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                      {% if collab_docs_page_obj %}
                      <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="text-info page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                          {% if collab_docs_page_obj.has_previous %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url collab_docs_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{collab_docs_page_obj.previous_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item active" aria-current="page"><a class="bg-info page-link" href="{% my_url collab_docs_page_obj.number 'page' request.GET.urlencode %}">{{collab_docs_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                          {% if collab_docs_page_obj.has_next %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url collab_docs_page_obj.next_page_number 'page' request.GET.urlencode %}">{{collab_docs_page_obj.next_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item"><a class="text-info page-link" href="{% my_url collab_docs_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                        </ul>
                      </nav>
                      {% endif %}

  								</div>
  							</div>
            </div>



						</div>
					</div>
{% endblock content%}
