{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  <title>Collaborator's Profile</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

				<div class="container content-area">
					<div class="horizontal-content">

						<!--Page Header-->
						<div class="page-header">
							<h4 class="page-title"><i class="fe fe-life-buoy mr-1"></i> Profile</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active" aria-current="page">Profile</li>
							</ol>
						</div>
						<!--page header-->

						<div class="row">
							<div class="col-xl-4  col-md-12">
								<div class="card box-widget widget-user">
									<div class="widget-user-header bg-gradient-primary"></div>
									<div class="widget-user-image"><img alt="User Avatar" class="rounded-circle" src="../assets/images/users/5.jpg"></div>
									<div class="card-body text-center">
										<div class="pro-user">
											<h3 class="pro-user-username text-dark">Vanessa Dyer</h3>
											<h6 class="pro-user-desc text-muted">Web Developer</h6>
											<a href="editprofile.html" class="btn btn-primary btn-sm"><i class="si si-pencil mr-1"></i>Edit</a>
											<a href="#" class="btn btn-secondary btn-sm"><i class="si si-feed mr-1"></i>Follow</a>
											<div class="pro-user-icons">
												<a href="#" class="facebook-bg mt-0"><i class="fab fa-facebook"></i></a>
												<a href="#" class="twitter-bg"><i class="fab fa-twitter"></i></a>
												<a href="#" class="google-bg"><i class="fab fa-google"></i></a>
												<a href="#" class="dribbble-bg"><i class="fab fa-dribbble"></i></a>
											</div>
										</div>

									</div>
									<div class="card-footer p-0">
										<div class="row">
											<div class="col-sm-6 border-right ">
												<div class="description-block">
													<h5 class="description-header">689k</h5><span class="text-muted">Followers</span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="description-block">
													<h5 class="description-header">3,765</h5><span class="text-muted">Following</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<div class="card-title">Personal Info</div>
									</div>
									<div class="card-body">
										<div class="media-list">
											<div class="media mt-1 pb-2">
												<div class="mediaicon">
													<i class="si si-user" aria-hidden="true"></i>
												</div>
												<div class="media-body ml-5 mt-1">
													<h6 class="mediafont text-dark mb-1">Full Name</h6><span class="d-block">Jenna Side</span>
												</div>
											</div>
											<div class="media mt-1 pb-2">
												<div class="mediaicon">
													<i class="si si-envelope" aria-hidden="true"></i>
												</div>
												<div class="media-body ml-5 mt-1">
													<h6 class="mediafont text-dark mb-1">Email Address</h6><span class="d-block">jenna@gmail.com</span>
												</div>
											</div>
											<div class="media mt-1 pb-2">
												<div class="mediaicon">
													<i class="si si-location-pin" aria-hidden="true"></i>
												</div>
												<div class="media-body ml-5 mt-1">
													<h6 class="mediafont text-dark mb-1">Location</h6><span class="d-block">Washington</span>
												</div>
											</div>
											<div class="media mt-1 pb-2">
												<div class="mediaicon">
													<i class="si si-phone" aria-hidden="true"></i>
												</div>
												<div class="media-body ml-5 mt-1">
													<h6 class="mediafont text-dark mb-1">Phone Number</h6><span class="d-block">+89 4665 2313</span>
												</div>
											</div>
											<div class="media mt-1 pb-2">
												<div class="mediaicon">
													<i class="si si-book-open" aria-hidden="true"></i>
												</div>
												<div class="media-body ml-5 mt-1">
													<h6 class="mediafont text-dark mb-1">Languages</h6><span class="d-block">English,Spanish,Greek</span>
												</div>
											</div>
											<div class="media mt-1 pb-2">
												<div class="mediaicon">
													<i class="si si-graduation" aria-hidden="true"></i>
												</div>
												<div class="media-body ml-5 mt-1">
													<h6 class="mediafont text-dark mb-1">Occupation</h6><span class="d-block">Web Designer</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-8 col-md-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">About</div>
									</div>
									<div class="card-body">
										<form class="mt ng-pristine ng-valid" action="#">
											<div class="form-group">
												<label class="sr-only" for="new-event">New event</label>
												<textarea class="form-control " id="new-event" placeholder="Write something..." rows="3"></textarea>
											</div>
											<div class="btn-toolbar mb-3">
												<div class=""><a href="#" class="btn btn-sm btn-primary mr-2"><i class="fa fa-camera fa-lg"></i></a> <a href="#" class="btn btn-sm btn-info"><i class="fa fa-map-marker fa-lg"></i></a>
												</div>
												<button type="submit" class="btn btn-danger btn-sm ml-3">send</button>
											</div>
										</form>
										<h6>Biography</h6>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-6">
										<div class="card">
											<div class="card-header">
												<div class="card-title">Photos</div>
											</div>
											<div class="card-body  h-100">
												<div class="row">
													<div class="col-6">
														<a href="#">
															<img class="media-object" src="../assets/images/photos/2.jpg" alt="media1">
														</a>
													</div>
													<div class="col-6">
														<a href="#">
															<img class="media-object" src="../assets/images/photos/4.jpg" alt="media1">
														</a>
													</div>
												</div><br>
												<div class="row">
													<div class="col-6">
														<a href="#">
															<img class="media-object" src="../assets/images/photos/7.jpg" alt="media1">
														</a>
													</div>
													<div class="col-6">
														<a href="#">
															<img class="media-object" src="../assets/images/photos/8.jpg" alt="media1">
														</a>
													</div>
												</div><br>
												<div class="row">
													<div class="col-6">
														<a href="#">
															<img class="media-object" src="../assets/images/photos/18.jpg" alt="media1">
														</a>
													</div>
													<div class="col-6">
														<a href="#">
															<img class="media-object" src="../assets/images/photos/20.jpg" alt="media1">
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6">
										<div class="card">
											<div class="card-header">
												<div class="card-title">Friends</div>
											</div>
											<div class="">
												<div class="list d-flex align-items-center border-bottom p-3">
													<div class="avatar avatar-lg brround d-block cover-image" data-image-src="../assets/images/users/1.jpg">
													</div>
													<div class="wrapper ml-3">
														<p class="mb-0">
														<b>Angela	Allan </b></p>
														<span class="text-muted">Project Manager</span>
													</div>
													<div class="float-right ml-auto">
														<a href="#" class="btn btn-primary btn-sm"><i class="si si-eye mr-1"></i>View</a>
													</div>
												</div>
												<div class="list d-flex align-items-center border-bottom p-3">
													<div class="avatar avatar-lg brround d-block cover-image" data-image-src="../assets/images/users/6.jpg">
													</div>
													<div class="wrapper ml-3">
														<p class="mb-0">
														<b>Connor Paige</b></p>
														<span class="text-muted">Web Developer</span>
													</div>
													<div class="float-right ml-auto">
														<a href="#" class="btn btn-primary btn-sm"><i class="si si-eye mr-1"></i>View</a>
													</div>
												</div>
												<div class="list d-flex align-items-center border-bottom p-3">
													<div class="avatar avatar-lg brround d-block cover-image" data-image-src="../assets/images/users/3.jpg">
													</div>
													<div class="wrapper ml-3">
														<p class="mb-0">
														<b>Victoria	Skinner</b></p>
														<span class="text-muted">Web Designer</span>
													</div>
													<div class="float-right ml-auto">
														<a href="#" class="btn btn-primary btn-sm"><i class="si si-eye mr-1"></i>View</a>
													</div>
												</div>
												<div class="list d-flex align-items-center border-bottom p-3">
													<div class="avatar avatar-lg brround d-block cover-image" data-image-src="../assets/images/users/7.jpg">
													</div>
													<div class="wrapper ml-3">
														<p class="mb-0">
														<b>Simon Sharp</b></p>
														<span class="text-muted">App Developer</span>
													</div>
													<div class="float-right ml-auto">
														<a href="#" class="btn btn-primary btn-sm"><i class="si si-eye mr-1"></i>View</a>
													</div>
												</div>
												<div class="list d-flex align-items-center border-bottom p-3">
													<div class="avatar avatar-lg brround d-block cover-image" data-image-src="../assets/images/users/8.jpg">
													</div>
													<div class="wrapper ml-3">
														<p class="mb-0">
														<b>Jan	Lambert</b></p>
														<span class="text-muted">Sales Manager</span>
													</div>
													<div class="float-right ml-auto">
														<a href="#" class="btn btn-primary btn-sm"><i class="si si-eye mr-1"></i>View</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
{% endblock content%}
