{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Collab Details</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <br>
            <div class="container content-area">
              <div class="horizontal-content">

                <div class="row">
    							<div class="col-xl-8 col-lg-12 col-md-12">
    								<div class="card">
    									<div class="card-body">
    										<div class="mt-4 mb-4">
    											<h3 class="text-info">{{collab.title}}</h3>
    											<h5 class="mb-3 mt-2">Abstract</h5>
    											<p>{{collab.abstract|linebreaks}}</p>
    										</div>
    										<div class="mt-4 product-spec">
    											<div class="pro_detail">
    												<ul class="list-unstyled mb-0">
    													<li class="row border-bottom-0">
    														<div class="col-sm-3 text-muted mb-2">Proposed Timeline</div>
    														<div class="col-sm-9 mb-2">{{collab.proposed_timeline}}</div>
    													</li>
    													<li class=" row border-bottom-0">
    														<div class="col-sm-3 text-muted mb-2">Education</div>
    														<div class="col-sm-3 mb-2">{{collab.education}}</div>
    													</li>
    													<li class="border-bottom-0 row">
    														<div class="col-sm-3 text-muted mb-2">Field</div>
    														<div class="col-sm-3 mb-2">{{collab.field}}</div>
    													</li>
    													<li class="border-bottom-0 row">
    														<div class="col-sm-3 text-muted mb-2">Expertise Required</div>
    														<div class="col-sm-3 mb-2">{{collab.expertise_required}}</div>
    													</li>
    													<li class="border-bottom-0 row">
    														<div class="col-sm-3 text-muted mb-2">On Premises</div>
    														<div class="col-sm-6 mb-2">{{collab.on_premises}}</div>
    													</li>
    													<li class="border-bottom-0 row">
    														<div class="col-sm-3 text-muted mb-2">funding</div>
    														<div class="col-sm-3 mb-2">{{collab.funding}}</div>
    													</li>
    													<li class="border-bottom-0 row">
    														<div class="col-sm-3 text-muted mb-2">Number of Collaborators</div>
    														<div class="col-sm-3 mb-2">{{collab.collaborators_no}}</div>
    													</li>
    													<li class="border-bottom-0 row">
    														<div class="col-sm-3 text-muted mb-2">Research Ownership</div>
    														<div class="col-sm-3 mb-2">{{collab.ownership}}</div>
    													</li>
    												</ul>
    											</div>
    										</div>

    									</div>
    								</div>
    							</div>
                  {% if collab.researcher == request.user %}
                  <div class="col-xl-4 col-md-12">
                    <a class="text-white" href="update"><button class="btn btn-info" type="button" name="button"><strong><i class="fas fa-edit fa-1x mr-1"></i>Edit</strong></button></a>
                    <a class="text-white" href=""><button class="btn btn-red" type="button" name="button"><strong><i class="fas fa-trash fa-1x mr-1"></i>Delete</strong></button></a>
                    <br>
                    <br>
                    <br>
                    {% if collab.interested_people.all %}
                    <h5>Collaborators</h5>
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          {% for person in collab.interested_people.all %}
                            {% if person.photograph %}
                              <a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-col"></a>
                            {% else %}
                              <a href=""><i class="fa fa-user-circle text-info fa-5x"></i></a>
                            {% endif %}
                            <strong><p><a class="text-info" href="offered/{{person.username}}">Offer</a>/<a class="text-info" href="">Decline</a></p></strong>
                            <br>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <br>
                    <br>
                    <a class="text-white" href="{% url 'lock_collab' collab.id %}"><button class="btn btn-info" type="button" name="button"><strong><i class="fas fa-lock fa-1x mr-1"></i>Lock</strong></button></a>
                  </div>
                  {% else %}
                  {% if request.user in collab.interested_people.all %}
                    <div class="col-xl-4 col-md-12">
      								<div class="card">
      									<div class="card-body">
                          <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div style="text-align:center" class="col-md-10">
                              <strong class="text-center text-black">Interested/<a class="text-info" href="{% url 'undo_interest_collab' collab.id %}">Undo</a></strong>
                            </div>
                            <div class="col-md-1">
                            </div>
                          </div>
      									</div>
      								</div>
      							</div>
                    {% elif request.user in collab.collaborators.all %}
                    <div class="col-xl-4 col-md-12">
      								<div class="card">
      									<div class="card-body">
                          <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div style="text-align:center" class="col-md-10">
                              You have been allowed by the initiator. Please check <strong><a class="text-info" href="{% url 'accepted_collabs' %}">Accepted Collabs</a></strong>
                            </div>
                            <div class="col-md-1">
                            </div>
                          </div>
      									</div>
      								</div>
      							</div>
                    {% else %}
                    <div class="col-xl-4 col-md-12">
      								<div class="card">
      									<div class="card-body">
                          <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div style="text-align:center" class="col-md-10">
                              <strong class="text-center text-black"><a class="text-info" href="{% url 'interest_collab' collab.id %}">Show interest</a></strong>
                            </div>
                            <div class="col-md-1">
                            </div>
                          </div>
      									</div>
      								</div>

                      <form method="post" class="form-group col-lg-12 text-info" enctype="multipart/form-data">
                            <strong><i class="fas text-red fa-flag fa-1x mr-1"></i>Flag</strong>
                        <br>
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="form-group col-sm-12 mb-2">
                                {{ form.reason|as_crispy_field }}
                          </div>
                        </div>
                        <input type="submit" value="Send" class="btn btn-info">
                    </form>
      							</div>
                    {% endif %}



                  {% endif %}
    						</div>
    					</div>
            </div>
          </div>
        </div>

{% endblock content%}
