{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Collab Documents</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% include '_alerts.html' %}
<div class=" app-content">
					<div class="side-app">
            <br>

            <div class="sidebar">
              <a class="bg-info" href="">CollabDoc</a>
              <a class="bg-info" href="">Meeting</a>
              <a class="bg-info" href="">Scheduler</a>
              <a class="bg-info" href="">Task</a>
              <a class="bg-info" href="">Chat</a>
              <a class="bg-info" href="">Whiteboard</a>
              <a class="bg-info" href="">Research note</a>

            </div>

            <div class="content">
              <div class="container content-area">
                <div class="horizontal-content">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <div class="col-md-4">
                            <a href="{% url 'upload_doc' %}"><button type="button" class="btn btn-outline-info col-md-12"><strong>Upload</strong></button></a>

                          </div>
                          <div class="col-md-4">
                            <a href="{% url 'create_collab' %}"><button type="button" class="btn btn-outline-info col-md-12"><strong>Create</strong></button></a>

                          </div>
                          <div class="col-md-4">
                            <div class="float-right text-right">
                              <div class="card-options">
                                <span class="dropdown-toggle fs-16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v" ></i></span>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                  <li><a href="#"><i class="fa fa-plus mr-2"></i>Add</a></li>
                                  <li><a href="#"><i class="fa fa-trash mr-2"></i>Remove</a></li>
                                  <li><a href="#"><i class="fa fa-eye mr-2"></i>View</a></li>
                                  <li><a href="#"><i class="fa fa-settings mr-2"></i>More</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>




                        </div>
                        <div class="card-body">
                          <div class="table-responsive mb-0">
                            <table class="table table-bordered table-hover mb-0 text-nowrap">
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Date</th>
                                  <th>Type</th>
                                  <th>Shared by</th>
                                  <th>Document</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for doc in collab_docs_page_obj %}
                                <tr>
                                  <td>{{doc.name}}</td>
                                  <td class="num-font">{{doc.created}}</td>
                                  <td class="num-font">{{doc.type}}</td>
                                  <td class="num-font">{{doc.shared_by}}</td>
                                  <td class="num-font">{{doc.document}}</td>
                                  <td>
                                    <div class="card-options">
                                      <span class="dropdown-toggle fs-16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v" ></i></span>
                                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#"><i class="fa fa-plus mr-2"></i>Add</a></li>
                                        <li><a href="#"><i class="fa fa-trash mr-2"></i>Remove</a></li>
                                        <li><a href="#"><i class="fa fa-eye mr-2"></i>View</a></li>
                                        <li><a href="#"><i class="fa fa-settings mr-2"></i>More</a></li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                      {% if collab_docs_page_obj %}
                      <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="text-info page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                          {% if collab_docs_page_obj.has_previous %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url collab_docs_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{collab_docs_page_obj.previous_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item active" aria-current="page"><a class="bg-info page-link" href="{% my_url collab_docs_page_obj.number 'page' request.GET.urlencode %}">{{collab_docs_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                          {% if collab_docs_page_obj.has_next %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url collab_docs_page_obj.next_page_number 'page' request.GET.urlencode %}">{{collab_docs_page_obj.next_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item"><a class="text-info page-link" href="{% my_url collab_docs_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                        </ul>
                      </nav>
                      {% endif %}

  								</div>
  							</div>
            </div>



						</div>
					</div>
{% endblock content%}
