{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Delete</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% include '_alerts.html' %}
<div class=" app-content">
	<div class="side-app">
  <br>
    <div class="container content-area">
      <div class="horizontal-content">
        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="text-center card bg-info text-white form-group col-md-9">
              <br>
                <h4 > <span class="text-red">CAUTION!</span> Do you still wish to continue?</h4>
                <br>
                <form method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="submit" class="btn btn-danger" value="Yes, delete"> <a class="btn btn-outline-light" href="{% url 'collab_docs_accepted' collab.id  %}">No, cancel</a>
                </form>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
