{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  <title>My Profile</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
	<div class="side-app">
    <br>
    <div class="container content-area">
      <div class="horizontal-content">
    {% include '_alerts.html' %}
		<!--Page Header-->
    <div class="row">
      <div class="col-xl-4  col-md-12">
        <div class="card box-widget widget-user">
          <div class="widget-user-header bg-gradient-primary"></div>
          {% if user.photograph %}
          <div class="text-center"><img alt="User Avatar" class="profile-big" src="{{user.photographURL}}"></div>
          {% else %}
          <div class="text-center"><i class="fa fa-user-circle text-info fa-5x"></i></div>
          {% endif %}
          <div class="card-body text-center">
            <div class="pro-user">
              <h3 class="pro-user-username text-info"><strong>{{user.first_name}} {{user.last_name}}</strong></h3>
              <!-- <h6 class="pro-user-desc text-muted">Web Developer</h6> -->
              <div class="badge bg-info text-white rounded-pill badge-marketing badge-sm"><strong>{{user.type}}</strong></div><br>
              
              <div class="pro-user-icons">
                <a href="#" class="facebook-bg mt-0"><i class="fab fa-facebook"></i></a>
                <a href="#" class="twitter-bg"><i class="fab fa-twitter"></i></a>
                <a href="#" class="google-bg"><i class="fab fa-google"></i></a>
                <a href="#" class="dribbble-bg"><i class="fab fa-dribbble"></i></a>
              </div>
            </div>

          </div>
          <div class="card-footer p-0">
            <div class="row">
              <div class="col-sm-6 border-right ">
                <div class="description-block">
                  <h5 class="description-header">689k</h5><span class="text-muted">Followers</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="description-block">
                  <h5 class="description-header">3,765</h5><span class="text-muted">Following</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-12 col-xl-8">
        <div class="card">
          <form method="post" class="form-group col-md-12 text-dark" enctype="multipart/form-data">
            <div class="card-header bg-white">
              <h4 class="text-info">
                <i class="fas fa-user-edit"></i> Profile</h4>
            </div>
            <br>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-6 mb-2">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mb-2">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6 mb-2">
                  {{ form.username|as_crispy_field }}
              </div>
              <div class="form-group col-sm-6 mb-2">
                  {{ form.photograph|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 mb-2">
                  {{ form.affiliation_name|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-12 mb-2">
                  {{ form.affiliation_address|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4 mb-2">
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.state|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 mb-2">
                    {{ form.country|as_crispy_field }}
                </div>
            </div>
            <a href=""><strong class="text-info">Click here</strong></a> <span class="text-dark">to change your password</span>
            <div class="card-footer text-right bg-white">
              <input type="submit" class="form-group btn btn-cylinder" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>

	<div class="col-md-12 col-xl-4 col-lg-4">

	</div>
	<div class="col-md-12 col-xl-4 col-lg-4">

	</div>
  </div>
</div>
</div>
</div>
{% endblock content%}
