{% extends 'board.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Change Password</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
	<div class="side-app">
    <br>
    {% include '_alerts.html' %}
		<!--Page Header-->

    <div class="row">

      <div class="col-md-12 col-xl-12 col-lg-4">
      <div class="card">
        <form method="post" class="form-group col-md-12" enctype="multipart/form-data">
          <div class="card-header bg-white">
            <h4 class="text-info">
              <i class="fas fa-key"></i> Change Password</h4>
          </div>
          <br>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="card-footer text-right bg-white">
          <input type="submit" class="form-group btn btn-cylinder" value="Update">
        </div>
      </form>
      </div>
      </div>
    </div>
  </div>
  </div>

{% endblock content%}
