{% extends 'board.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>My Dashboard</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
	<div class="side-app">
    <br>
		<!--Page Header-->
		<div class="page-header">
			<h4 class="page-title"><i class="fa fa-chalkboard-teacher text-info mr-2 fa-1x"></i>Dashboard</h4>
			<ol class="breadcrumb bg-white">
				<li class="breadcrumb-item"><a href=""><strong>Home</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Dashboard</strong></li>
			</ol>
		</div>

    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mb-4">
              <span class="avatar align-self-center avatar-lg br-7 cover-image bg-info-transparent">
                <i class="fa fa-american-sign-language-interpreting text-info"></i>
              </span>
              <div class="svg-icons text-right ml-auto">
                <h5 class="text-muted">Initiated Collabs</h5>
                <h2 class="mb-0 font-weight-extrabold num-font">{{initiateds}}</h2>
              </div>
            </div>
            <div class="progress progress-md h-2">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-20"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mb-4">
              <span class="avatar align-self-center avatar-lg br-7 cover-image bg-info-transparent">
                <i class="fa fa-handshake text-info"></i>
              </span>
              <div class="svg-icons text-right ml-auto">
                <h5 class="text-muted">Accepted Collabs</h5>
                <h2 class="mb-0 font-weight-extrabold num-font">{{accepteds}}</h2>
              </div>
            </div>
            <div class="progress progress-md h-2">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-50"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mb-4">
              <span class="avatar align-self-center avatar-lg br-7 cover-image bg-info-transparent">
                <i class="fa fa-check-circle text-info"></i>
              </span>
              <div class="svg-icons text-right ml-auto">
                <h5 class="text-muted">Concluded Collabs</h5>
                <h2 class="mb-0 font-weight-extrabold num-font">{{concludeds}}</h2>
              </div>
            </div>
            <div class="progress progress-md h-2">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-00"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mb-4">
              <span class="avatar align-self-center avatar-lg br-7 cover-image bg-info-transparent">
                <i class="fa fa-eye text-info"></i>
              </span>
              <div class="svg-icons text-right ml-auto">
                <h5 class="text-muted">Profile Views</h5>
                <h2 class="mb-0 font-weight-extrabold num-font">{{current_views}}</h2>
              </div>
            </div>
            <div class="progress progress-md h-2">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-80"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-md-12 col-lg-12">
        <div class="card overflow-hidden">
          <div class="card-header">
            <h3 class="card-title text-info">Collaboration Analytics</h3>
            <div class="card-options d-none d-sm-block">

            </div>
          </div>
          <div class="card-body">
            <canvas id="customerChart" class="h-400"></canvas>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-info">Collaborators</h3>
          </div>
          <div class="card-body p-0 ">
            <div class="list-group list-lg-group list-group-flush">

              {% for each in user.past_collaborators.all %}
              <a class="list-group-item list-group-item-action" href="#">
                <div class="">
                  {% if each.photograph %}
                    <img href="" src="{{ each.photographURL }}" alt="Photograph" class="profile-sub">
                  {% else %}
                    <i class="fa fa-user-circle text-info fa-3x"></i>
                  {% endif %}


                  <div class="media-body">
                    <div class="d-md-flex align-items-center">
                      <h6 class="mb-1 font-weight-bold"> {{each.first_name}} {{each.last_name}}</h6><small class="text-muted ml-md-auto"></small>
                    </div>
                    <p class="mb-0 text-muted fs-13"></p>
                  </div>
                </div>
              </a>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-md-12 col-lg-4">
        <div class="card overflow-hidden">
          <div class="card-body pb-0">
            <div class="dash-widget text-center">
              <h6 class="text-muted">Followers</h6>
              <h3 class="font-weight-extrabold num-font">{{followers}}</h3>

            </div>
          </div>
          <div class="chart-wrapper chart-wraper-absolute">
            <!-- <canvas id="AreaChart2" class="chart-dropshadow"></canvas> -->
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 col-lg-4">
        <div class="card overflow-hidden">
          <div class="card-body pb-0">
            <div class="dash-widget text-center">
              <h6 class="text-muted">Following</h6>
              <h3 class="font-weight-extrabold num-font">{{followings}}</h3>

            </div>
          </div>
          <div class="chart-wrapper chart-wraper-absolute">
            <!-- <canvas id="AreaChart3" class="chart-dropshadow"></canvas> -->
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 col-lg-4">
        <div class="card overflow-hidden">
          <div class="card-body pb-0">
            <div class="dash-widget text-center">
              <i class="fas fa-award text-info fa-1x"></i><i class="fas fa-gift text-info fa-1x"></i><i class="fas fa-certificate text-info fa-1x"></i><i class="fas fa-scroll text-info fa-1x"></i><h6 class="text-muted">Scrolls</h6>
              <h3 class="font-weight-extrabold num-font">0</h3>

            </div>
          </div>
          <div class="chart-wrapper chart-wraper-absolute">
            <!-- <canvas id="AreaChart4" class="chart-dropshadow"></canvas> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="card-widget">
              <div class="row">
                <div class="col-sm-6">
                  <h6 class="mb-2">Total Grants</h6>
                  <h2 class="text-left fs-40 mb-3"><span class="num-font">0</span></h2>
                </div>
                <div class="col-sm-6">
                  <div class="float-right text-right">

                  </div>
                </div>
              </div>
            </div>
            <p class="mt-1 text-muted mb-4"></p>
            <div class="row">
              <div class="col-md-6">
                <div class="card-widget">
                  <div class="mb-3">
                    <div class="clearfix">
                      <div class="float-left">
                        <strong class="h4 font-weight-bold num-font">0</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted h6">Internal</small>
                      </div>
                    </div>
                  </div>
                  <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-info w-0" role="progressbar"></div>
                  </div>
                  <div class="text-muted">
                    <i class="fa fa-caret-up text-success"></i> % decrease
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-widget">
                  <div class="mb-3">
                    <div class="clearfix">
                      <div class="float-left">
                        <strong class="h4 font-weight-bold num-font">0</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted h6">External</small>
                      </div>
                    </div>
                  </div>
                  <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-info w-0" role="progressbar"></div>
                  </div>
                  <div class="text-muted">
                    <i class="fa fa-caret-down text-danger"></i> % increase
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="card-widget">
              <div class="row">
                <div class="col-sm-6">
                  <h6 class="mb-2">Total Collaborators</h6>
                  <h2 class="text-left fs-40 mb-3"><span class="num-font">{{total_collaborators}}</span></h2>
                </div>
                <div class="col-sm-6">
                  <div class="float-right text-right">

                  </div>
                </div>
              </div>
            </div>
            <p class="mt-1 text-muted mb-4"></p>
            <div class="row">
              <div class="col-md-6">
                <div class="card-widget">
                  <div class="mb-3">
                    <div class="clearfix">
                      <div class="float-left">
                        <strong class="h4 font-weight-bold num-font">{{males}}</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted h6">Total Males</small>
                      </div>
                    </div>
                  </div>
                  <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-info w-0" role="progressbar"></div>
                  </div>
                  <div class="text-muted">
                    <i class="fa fa-caret-down text-danger"></i> % decrease
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-widget">
                  <div class="mb-3">
                    <div class="clearfix">
                      <div class="float-left">
                        <strong class="h4 font-weight-bold num-font">{{females}}</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted h6">Total Females</small>
                      </div>
                    </div>
                  </div>
                  <div class="progress progress-sm mt-0 mb-2">
                    <div class="progress-bar bg-info w-0" role="progressbar"></div>
                  </div>
                  <div class="text-muted">
                    <i class="fa fa-caret-up text-success"></i> % increase
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title text-info">Concluded Collabs</div>

          </div>
          <div class="card-body">
            <div class="table-responsive mb-0">
              <table class="table table-bordered table-hover mb-0 text-nowrap">
                <thead>
                  <tr>
                    <th>Date Initiated</th>
                    <th>Title</th>
                    <th>Field</th>
                    <th>Initiator</th>
                    <th>Collaborators</th>
                    <th>Date Concluded</th>
                  </tr>
                </thead>
                <tbody>
                  {% for collab in all_concludeds %}
                  <tr>
                    <td>{{collab.locked_date}}</td>
                    <td class="num-font">{{collab.title}}</td>
                    <td class="num-font">{{collab.field}}</td>
                    <td class="num-font">{{collab.researcher}}</td>
                    <td class="num-font">{% for each in collab.collaborators.all %}{{each.first_name}} {{each.last_name}}<br>{% endfor %}</td>
                    <td class="num-font">{{collab.concluded_date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Sidebar-right-->
  <div class="sidebar sidebar-right sidebar-animate">

    <div class="panel panel-primary">
      <div class="tab-menu-heading border-0">
        <div class="tabs-menu ">
          <!-- Tabs -->
          <ul class="nav panel-tabs">
            <li class=""><a href="#side1" class="active" data-toggle="tab"><i class="fas fa-bell"></i> Notifications</a></li>
            <li><a href="#side2" data-toggle="tab"><i class="fas fa-comments"></i> Chat</a></li>
            <li><a href="#side3" data-toggle="tab"><i class="fas fa-user-friends"></i> Friends</a></li>
          </ul>
        </div>
      </div>
      <div class="panel-body tabs-menu-body p-0 border-0">
        <div class="tab-content">
          <div class="tab-pane active " id="side1">
            <div class="list-group list-group-flush ">
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-3">
                  <span class="avatar avatar-lg brround cover-image" data-image-src="../assets/images/users/5.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div>
                  <strong>Madeleine</strong> Hey! there I' am available....
                  <div class="small text-muted">
                    3 hours ago
                  </div>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-3">
                  <span class="avatar avatar-lg brround cover-image" data-image-src="../assets/images/users/4.jpg"></span>
                </div>
                <div>
                  <strong>Anthony</strong> New product Launching...
                  <div class="small text-muted">
                    5 hour ago
                  </div>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-3">
                  <span class="avatar avatar-lg brround cover-image" data-image-src="../assets/images/users/3.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div>
                  <strong>Olivia</strong> New Schedule Realease......
                  <div class="small text-muted">
                    45 mintues ago
                  </div>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-3">
                  <span class="avatar avatar-lg brround cover-image" data-image-src="../assets/images/users/2.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div>
                  <strong>Madeleine</strong> Hey! there I' am available....
                  <div class="small text-muted">
                    3 hours ago
                  </div>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-3">
                  <span class="avatar avatar-lg brround cover-image" data-image-src="../assets/images/users/1.jpg"></span>
                </div>
                <div>
                  <strong>Anthony</strong> New product Launching...
                  <div class="small text-muted">
                    5 hour ago
                  </div>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-3">
                  <span class="avatar avatar-lg brround cover-image" data-image-src="../assets/images/users/9.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div>
                  <strong>Olivia</strong> New Schedule Realease......
                  <div class="small text-muted">
                    45 mintues ago
                  </div>
                </div>
              </div>
              <div class="pt-4 text-center">
                <a href="#" class="btn btn-primary">View more</a>
              </div>
            </div>
          </div>
          <div class="tab-pane  " id="side2">
            <div class="list d-flex align-items-center border-bottom p-4">
              <div class="">
                <span class="avatar bg-primary brround avatar-md">CH</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>New Websites is Created</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">30 mins ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list d-flex align-items-center border-bottom p-4">
              <div class="">
                <span class="avatar bg-danger brround avatar-md">N</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>Prepare For the Next Project</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">2 hours ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list d-flex align-items-center border-bottom p-4">
              <div class="">
                <span class="avatar bg-info brround avatar-md">S</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>Decide the live Discussion</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">3 hours ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list d-flex align-items-center border-bottom p-4">
              <div class="">
                <span class="avatar bg-warning brround avatar-md">K</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>Meeting at 3:00 pm</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">4 hours ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list d-flex align-items-center border-bottom p-4">
              <div class="">
                <span class="avatar bg-success brround avatar-md">R</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>Prepare for Presentation</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">1 days ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list d-flex align-items-center border-bottom p-4">
              <div class="">
                <span class="avatar bg-pink brround avatar-md">MS</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>Prepare for Presentation</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">1 days ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list d-flex align-items-center border-bottom p-4">
              <div class="">
                <span class="avatar bg-purple brround avatar-md">L</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>Prepare for Presentation</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">45 mintues ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list d-flex align-items-center p-4">
              <div class="">
                <span class="avatar bg-blue brround avatar-md">U</span>
              </div>
              <div class="wrapper w-100 ml-3">
                <p class="mb-0 d-flex">
                  <b>Prepare for Presentation</b>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-clock text-muted mr-1"></i>
                    <small class="text-muted ml-auto">2 days ago</small>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane  " id="side3">
            <div class="list-group list-group-flush ">
              <form class="form-inline p-4">
                <div class="search-element">
                  <input class="form-control header-search" type="search" placeholder="Search..." aria-label="Search">
                </div>
              </form>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/2.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Mozelle Belt</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/1.jpg"></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Florinda Carasco</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/9.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Alina Bernier</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/3.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Zula Mclaughin</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/4.jpg"></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Isidro Heide</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/5.jpg"><span class="avatar-status bg-green"></span></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Mozelle Belt</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/6.jpg"></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Florinda Carasco</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/8.jpg"></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Alina Bernier</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
              <div class="list-group-item d-flex  align-items-center">
                <div class="mr-2">
                  <span class="avatar avatar-md brround cover-image" data-image-src="../assets/images/users/7.jpg"></span>
                </div>
                <div class="">
                  <div class="font-weight-semibold">Isidro Heide</div>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-sm btn-light"><i class="fab fa-facebook-messenger"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script>
    (function($) {
        "use strict";

        var created_list = {{ created_list|safe }}
        var initiated_list = {{ initiated_list|safe }}
        var accepted_list = {{ accepted_list|safe }}
        var concluded_list = {{ concluded_list|safe }}

    	 //bar chart
        var ctx = document.getElementById( "customerChart" );
        var myChart = new Chart( ctx, {
            type: 'line',
            data: {
                labels: created_list,
                datasets: [ {
                    label: "Initiated Collabs",
                    data: initiated_list,
                    backgroundColor: 'transparent',
                    borderColor: 'rgba(8, 158, 96,0.75)',
                    borderWidth: 3,
                    pointStyle: 'circle',
                    pointRadius: 5,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: 'rgba(8, 158, 96,0.75)',
                        }, {
                    label: "Accepted Collabs",
                    data: accepted_list,
                    backgroundColor: 'transparent',
                    borderColor: 'rgba(19, 150, 204,0.75)',
                    borderWidth: 3,
                    pointStyle: 'circle',
                    pointRadius: 5,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: 'rgba(19, 150, 204,0.75)',
                        }, {
                    label: "Concluded Collabs",
                    data: concluded_list,
                    backgroundColor: 'transparent',
                    borderColor: 'rgba(250, 5, 140,0.75)',
                    borderWidth: 3,
                    pointStyle: 'circle',
                    pointRadius: 5,
                    pointBorderColor: 'transparent',
                    pointBackgroundColor: 'rgba(19, 150, 204,0.75)',
                        }
                        ]
            },
            options: {
    			responsive: true,
    			maintainAspectRatio: false,
    			barRoundness: 1,
                scales: {
                    yAxes: [ {
                        ticks: {
                            beginAtZero: true,
    						fontColor: "#bbc1ca",
    						},
    						gridLines: {
    						color:'rgba(187, 193, 202,0.3)',
    					}
                    }],

    				xAxes: [{
    					ticks: {
    						display: true,
    						fontColor: "#bbc1ca",
    					},
    					gridLines: {
    						display: true,
    						color:'rgba(187, 193, 202,0.3)',
    					}
    				}]
                }
            }
        } );

    	/*-----AreaChart2-----*/
        var ctx = document.getElementById( "AreaChart2" );
    	ctx.height = 70;
        var myChart = new Chart( ctx, {
            type: 'line',
            data: {
                labels: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'],
                type: 'line',
                datasets: [ {
                    data: [0, 0, 0, 2, 1, 0, 0],
                    label: 'Total Income',
                    backgroundColor: 'rgba(19, 150, 204,0.3)',
    				pointBorderColor: 'transparent',
    				pointBackgroundColor: 'transparent',
                    borderColor: 'rgba(19, 150, 204)',
                }, ]
            },
            options: {

                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                responsive: true,
                tooltips: {
                    mode: 'index',
                    titleFontSize: 12,
                    titleFontColor: '#7886a0',
                    bodyFontColor: '#7886a0',
                    backgroundColor: '#fff',
                    titleFontFamily: 'Montserrat',
                    bodyFontFamily: 'Montserrat',
                    cornerRadius: 3,
                    intersect: false,
                },
                scales: {
                    xAxes: [ {
                        gridLines: {
                            color: 'transparent',
                            zeroLineColor: 'transparent'
                        },
                        ticks: {
                            fontSize: 2,
                            fontColor: 'transparent'
                        }
                    } ],
                    yAxes: [ {
                        display:false,
                        ticks: {
                            display: false,
                        }
                    } ]
                },
                title: {
                    display: false,
                },
                elements: {
                    line: {
                        borderWidth: 1
                    },
                    point: {
                        radius: 4,
                        hitRadius: 10,
                        hoverRadius: 4
                    }
                }
            }
        } );


    		/*-----AreaChart4-----*/
        var ctx = document.getElementById( "AreaChart4" );
    	ctx.height = 70;
        var myChart = new Chart( ctx, {
            type: 'line',
            data: {
                labels: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'],
                type: 'line',
                datasets: [ {
                    data: [],
                    label: 'Total Balance',
                    backgroundColor: 'rgba(19, 150, 204,0.3)',
    				pointBorderColor: 'transparent',
    				pointBackgroundColor: 'transparent',
                    borderColor: 'rgba(19, 150, 204)',
                }, ]
            },
            options: {

                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                responsive: true,
                tooltips: {
                    mode: 'index',
                    titleFontSize: 12,
                    titleFontColor: '#7886a0',
                    bodyFontColor: '#7886a0',
                    backgroundColor: '#fff',
                    titleFontFamily: 'Montserrat',
                    bodyFontFamily: 'Montserrat',
                    cornerRadius: 3,
                    intersect: false,
                },
                scales: {
                    xAxes: [ {
                        gridLines: {
                            color: 'transparent',
                            zeroLineColor: 'transparent'
                        },
                        ticks: {
                            fontSize: 2,
                            fontColor: 'transparent'
                        }
                    } ],
                    yAxes: [ {
                        display:false,
                        ticks: {
                            display: false,
                        }
                    } ]
                },
                title: {
                    display: false,
                },
                elements: {
                    line: {
                        borderWidth: 1
                    },
                    point: {
                        radius: 4,
                        hitRadius: 10,
                        hoverRadius: 4
                    }
                }
            }
        } );


    	/*-----AreaChart3-----*/
        var ctx = document.getElementById( "AreaChart3" );
    	ctx.height = 70;
        var myChart = new Chart( ctx, {
            type: 'line',
            data: {
                labels: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'],
                type: 'line',
                datasets: [ {
                    data: [0, 50, 0],
                    label: 'Total Earnings',
                    backgroundColor: 'rgba(19, 150, 204,0.3)',
    				pointBorderColor: 'transparent',
    				pointBackgroundColor: 'transparent',
                    borderColor: 'rgba(19, 150, 204)',
                }, ]
            },
            options: {

                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                responsive: true,
                tooltips: {
                    mode: 'index',
                    titleFontSize: 12,
                    titleFontColor: '#7886a0',
                    bodyFontColor: '#7886a0',
                    backgroundColor: '#fff',
                    titleFontFamily: 'Montserrat',
                    bodyFontFamily: 'Montserrat',
                    cornerRadius: 3,
                    intersect: false,
                },
                scales: {
                    xAxes: [ {
                        gridLines: {
                            color: 'transparent',
                            zeroLineColor: 'transparent'
                        },
                        ticks: {
                            fontSize: 2,
                            fontColor: 'transparent'
                        }
                    } ],
                    yAxes: [ {
                        display:false,
                        ticks: {
                            display: false,
                        }
                    } ]
                },
                title: {
                    display: false,
                },
                elements: {
                    line: {
                        borderWidth: 1
                    },
                    point: {
                        radius: 4,
                        hitRadius: 10,
                        hoverRadius: 4
                    }
                }
            }
        } );
    })(jQuery);

  </script>



{% endblock content%}
