{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Tasks</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<div class=" app-content">
					<div class="side-app">
            <div class="row bg-light">
              <div class="col-md-3 ml-2">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <li><a title="CollabDocs" href="{% url 'folders_initiated' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="CollabDocs" href="{% url 'folders_accepted' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  <li><a title="Tasks" href="tasks"><i class="fas fa-tasks text-light-blue fa-2x mr-2"></i></a></li>
                  <li><a title="Scheduler" href="schedules"><i class="fas fa-calendar-check text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ChatRoom" href="{% url 'chat' collab.id %}"><i class="fas fa-users text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ResearchNotes" href="notes"><i class="fas fa-clipboard text-info fa-2x mr-2"></i></a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <br>
                <ul>
                  <li class="text-info h4">{{collab.title}}</li>
                </ul>
              </div>
              <div class="col-md-2 text-right">
                <br>
                <ul>
                  {% if collab.researcher.photograph %}
                  <li><sup><a href="{% url 'show_user' collab.researcher.username %}"><img href="" src="{{ collab.researcher.photographURL }}" alt="Photograph" class="profile-not"></a></sup></li>
                  {% else %}
                  <li><a href="{% url 'show_user' collab.researcher.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                  {% endif %}
                  {% for person in collab.collaborators.all %}
                    {% if person.photograph %}
                      <li><sup><a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-task"></a></sup></li>
                    {% else %}
                      <li><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </div>

            <hr class="bg-info">
              {% include '_alerts.html' %}
              <div class="container content-area">
                <div class="horizontal-content">
                  <div class="row">
                    <div class="col-md-1">
                      {% if request.user == collab.researcher %}


                      <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title text-primary" id="exampleModalLongTitle">Add Task</h5>
                                      <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <form method="post">
                                      {% csrf_token %}
                                      <div class="modal-body">
                                          <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Assigned To:</label>
                                              {{ form.assigned_to }}
                                          </div>
                                          <div class="form-group">
                                              <label for="message-text" class="col-form-label">Title:</label>
                                              {{ form.title }}
                                          </div>
                                          <div id="start" class="form-group">
                                              <label for="message-text" id="start" class="col-form-label">Description:</label>
                                              {{ form.decription }}
                                          </div>
                                          <div class="form-group">
                                              <label for="message-text" class="col-form-label">Due Date:</label>
                                              {{ form.due_date }}
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                          <button type="submit" class="btn btn-primary">Save</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>

                      <a href="add-task"><button type="button" class="btn btn-info"><strong><i class="fas fa-plus-circle text-white mr-1"></i>New</strong></button></a>
                      {% endif %}
                    </div>
                    <div class="col-md-11">

                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                          <a href=""><button type="button" class="btn btn-outline-info col-md-12"><strong>Ongoing</strong></button></a>
                        </div>
                        <div class="col-md-2">

                        </div>
                      </div>
                      <br>
                      {% for task in tasks_page_obj %}
                      <div class="col-xl-12 col-lg-4 col-md-12">
                        <div class="card">
                          {% if task.is_pinned %}
                          <i class="fa fa-bookmark text-info"></i>
                          {% else %}
                          {% endif %}
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-10">
                                {% if request.user == collab.researcher %}
                                <a href="{% url 'show_task_initiated' collab.id task.id %}"><h3 class="mb-1"><span class="text-info">{{task.title}}</span></h3></a>
                                {% elif request.user in collab.collaborators.all %}
                                <a href="{% url 'show_task_accepted' collab.id task.id %}"><h3 class="mb-1"><span class="text-info">{{task.title}}</span></h3></a>
                                {% endif %}
                              </div>
                              <div class="col-md-2">
                                <div class="float-right text-right">
                                  <div class="card-options text-info">
                                    <span class="dropdown-toggle fs-16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v" ></i></span>

                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                      {% if task.collab.researcher == request.user %}
                                      <li><a href="tasks/edit/{{task.id}}"><i class="fa fa-edit mr-2"></i>Edit</a></li>

                                      <li><a href="tasks/delete/{{task.id}}"><i class="fa fa-trash mr-2"></i>Delete</a></li>
                                      {% elif request.user in task.assigned_to.all %}
                                      <li><a href="tasks/update/{{task.id}}"><i class="fa fa-edit mr-2"></i>Update</a></li>
                                      {% endif %}
                                      <li><a href="tasks/pin/{{task.id}}"><i class="fa fa-map-pin mr-2"></i>Pin</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <p class="text-muted">{{task.description}}</p>
                            <div class="row">
                              <div class="col-md-5">
                                <tr>
                                  <td>
                                    {% for person in task.assigned_to.all %}
                                      {% if person.photograph %}
                                        <a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-task"></a>
                                      {% else %}
                                        <sub><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></sub>
                                      {% endif %}
                                    {% endfor %}
                                  </td>
                                </tr>
                              </div>
                              <div class="col-md-7 text-right">
                                <span class="text-info"><i class="fa fa-calendar mr-1"></i>{{task.due_date}}</span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <!-- {% if tasks_page_obj %}
                      <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="text-info page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                          {% if tasks_page_obj.has_previous %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url tasks_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{tasks_page_obj.previous_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item active" aria-current="page"><a class="bg-info page-link" href="{% my_url tasks_page_obj.number 'page' request.GET.urlencode %}">{{tasks_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                          {% if tasks_page_obj.has_next %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url tasks_page_obj.next_page_number 'page' request.GET.urlencode %}">{{tasks_page_obj.next_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item"><a class="text-info page-link" href="{% my_url tasks_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                        </ul>
                      </nav>
                      {% endif %} -->
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                          <a href=""><button type="button" class="btn btn-outline-success col-md-12"><strong>Completed</strong></button></a>
                        </div>
                        <div class="col-md-2">

                        </div>
                      </div>
                      <br>

                      {% for task in tasks_completed_page_obj %}
                      <div class="col-xl-12 col-lg-4 col-md-12">
                        <div class="card">
                          {% if task.is_pinned %}
                          <i class="fa fa-bookmark text-success"></i>
                          {% else %}
                          {% endif %}
                          <div class="card-body">
                            <h3 class="mb-1"><span class="text-success">{{task.title}}</span></h3>
                            <p class="text-muted">{{task.description}}</p>
                            <div class="row">
                              <div class="col-md-5">
                                <tr>
                                  <td>
                                    {% for person in task.assigned_to.all %}
                                      {% if person.photograph %}
                                        <a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-task"></a>
                                      {% else %}
                                        <sub><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></sub>
                                      {% endif %}
                                    {% endfor %}
                                  </td>
                                </tr>
                              </div>
                              <div class="col-md-7 text-right">
                                <span class="text-success"><i class="fa fa-calendar mr-1"></i>{{task.updated}}</span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                          <a href=""><button type="button" class="btn btn-outline-danger col-md-12"><strong>Stopped</strong></button></a>
                        </div>
                        <div class="col-md-2">

                        </div>
                      </div>
                      <br>
                      {% for task in tasks_stopped_page_obj %}
                      <div class="col-xl-12 col-lg-4 col-md-12">
                        <div class="card">
                          {% if task.is_pinned %}
                          <i class="fa fa-bookmark text-danger"></i>
                          {% else %}
                          {% endif %}
                          <div class="card-body">
                            <h3 class="mb-1"><span class="text-danger">{{task.title}}</span></h3>
                            <p class="text-muted">{{task.description}}</p>
                            <div class="row">
                              <div class="col-md-5">
                                <tr>
                                  <td>
                                    {% for person in task.assigned_to.all %}
                                    {% if person.photograph %}
                                      <a href="{% url 'show_user' person.username %}"><img src="{{person.photographURL}}" alt="Photograph" class="profile-task"></a>
                                    {% else %}
                                      <sub><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></sub>
                                    {% endif %}
                                  {% endfor %}
                                  </td>
                                </tr>
                              </div>
                              <div class="col-md-7 text-right">
                                <span class="text-red"><i class="fa fa-calendar mr-1"></i>{{task.updated}}</span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
  								</div>
  							</div>
            </div>
					</div>
{% endblock content%}
