{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Tasks</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% include '_alerts.html' %}
<div class=" app-content">
					<div class="side-app">
            <br>
            <ul>
              <li><a title="Task" href="task"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
              <li><a href=""><i class="fas fa-video text-info fa-2x mr-2"></i></a></li>
              <li><a href=""><i class="fas fa-clipboard text-info fa-2x mr-2"></i></a></li>
              <li><a href=""><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
              <li><a href=""><i class="fas fa-users text-info fa-2x mr-2"></i></a></li>
              <li><a href=""><i class="fas fa-tv text-info fa-2x mr-2"></i></a></li>
              <li><a href=""><i class="fas fa-sticky-note text-info fa-2x mr-2"></i></a></li>
            </ul>

              {% include '_alerts.html' %}
              <div class="container content-area">
                <div class="horizontal-content">
                  <div class="row">
                    <div class="col-md-1">
                      <a href=""><button type="button" class="btn btn-info"><strong><i class="fas fa-plus-circle text-white mr-1"></i>New</strong></button></a>
                    </div>
                    <div class="col-md-11">

                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                          <a href=""><button type="button" class="btn btn-outline-info col-md-12"><strong>Ongoing</strong></button></a>
                        </div>
                        <div class="col-md-2">

                        </div>
                      </div>
                      <br>

                      {% for task in tasks_page_obj %}
                      <div class="col-xl-12 col-lg-4 col-md-12">
                        <div class="card">
                          <div class="card-body">
                            <h3 class="mb-1"><span class="text-info">{{task.title}}</span></h3>
                            <p class="text-muted">{{task.description}}</p>
                            <div class="row">
                              <div class="col-md-3">
                                {% for person in task.assigned_to %}
                                  {% if task.assigned_to.photograph %}
                                    {% if task.assigned_to %}
                                    <a href="{% url 'show_user' task.assigned_to.username %}"><img href="" src="{{ task.assigned_to.photographURL }}" alt="Photograph" class="profile-small"></a>
                                    {% else %}
                                    {% endif %}
                                  {% else %}
                                    {% if task.assigned_to %}
                                    <a href="{% url 'show_user' task.assigned_to.username %}"><i class="fa fa-user-circle text-info fa-3x"></i></a>
                                    {% else %}
                                    {% endif %}
                                  {% endif %}

                              </div>
                              <div class="col-md-9 text-right">
                                <br>
                                Due on <strong class="text-info">{{task.due_date}}</strong>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>                      
                      {% endfor %}
                      <!-- {% if tasks_page_obj %}
                      <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="text-info page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                          {% if tasks_page_obj.has_previous %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url tasks_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{tasks_page_obj.previous_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item active" aria-current="page"><a class="bg-info page-link" href="{% my_url tasks_page_obj.number 'page' request.GET.urlencode %}">{{tasks_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                          {% if tasks_page_obj.has_next %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url tasks_page_obj.next_page_number 'page' request.GET.urlencode %}">{{tasks_page_obj.next_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item"><a class="text-info page-link" href="{% my_url tasks_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                        </ul>
                      </nav>
                      {% endif %} -->
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                          <a href=""><button type="button" class="btn btn-outline-success col-md-12"><strong>Completed</strong></button></a>
                        </div>
                        <div class="col-md-2">

                        </div>
                      </div>
                      <br>

                      
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                          <a href=""><button type="button" class="btn btn-outline-danger col-md-12"><strong>Stopped</strong></button></a>
                        </div>
                        <div class="col-md-2">

                        </div>
                      </div>
                      <br>

                      
                    </div>
                  </div>





  								</div>
  							</div>
            </div>
					</div>
{% endblock content%}
