{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Rename Document</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<div class=" app-content">
					<div class="side-app">

              <div class="container content-area">
                <div class="horizontal-content">
                  {% include '_alerts.html' %}


                  <div class="row">
                    <div class="col-md-12 col-xl-12 col-lg-12">
                    <div class="card">
                      <form method="post" class="form-group col-lg-12 text-info" enctype="multipart/form-data">
                        <div class="card-header bg-white">
                          <h4 class="text-info">
                            <i class="fas fa-edit"></i> Rename Document</h4>
                        </div>
                        <br>
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="form-group col-sm-12 mb-2">
                                {{ form.name|as_crispy_field }}
                          </div>
                        </div>
                        <div style="text-align:left" class="mt-1">
                        <input type="submit" value="Update" class="btn btn-dark-blue">
                    </form>
                    </div>
                    </div>
                  </div>
  								</div>
  							</div>

						</div>
					</div>
{% endblock content%}
