{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  <title>{{researcher.first_name}} {{researcher.last_name}}'s Profile</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<div class=" app-content">
	<div class="side-app">
    <br>
				<div class="container content-area">
					<div class="horizontal-content">

						<div class="row">
              {% include '_alerts.html' %}
              <div class="col-xl-4  col-md-12">
                <div class="card box-widget widget-user">
                  <br>
                  {% if researcher.photograph %}
                  <div class="text-center"><img alt="Profile Picture" class="profile-big" src="{{researcher.photographURL}}"></div>
                  {% else %}
                  <div class="text-center"><i class="fa fa-user-circle text-info fa-8x"></i></div>
                  {% endif %}
                  <div class="card-body text-center">
                    <div class="pro-user">
                      <h3 class="pro-user-username text-info"><strong>{{researcher.first_name}} {{researcher.last_name}}</strong></h3>
                      <div class="badge bg-info text-white rounded-pill badge-marketing badge-sm"><strong>{{researcher.type}}</strong></div>
                      <br>
                      <br>
                      {% if request.user in researcher.followers.all %}
                      <a href="{% url 'unfollow' researcher.user_Id %}" class="btn btn-info btn-sm">Unfollow</a>
                      {% else %}
                      <a href="{% url 'follow' researcher.user_Id %}" class="btn btn-info btn-sm mr-1">Follow</a>
                      {% endif %}

                    </div>

                  </div>
                  <div class="card-footer p-0">
                    <div class="row">
                      <div class="col-sm-6 border-right ">
                        <div class="description-block">
                          <h5 class="description-header">{{followers}}</h5><span class="text-muted">Followers</span>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="description-block">
                          <h5 class="description-header">{{followings}}</h5><span class="text-muted">Following</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Profile</div>
                  </div>
                  <div class="card-body">
                    <div class="media-list">
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Affiliation Name</h6><span class="d-block">{{researcher.affiliation_name}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Specialization/Field</h6><span class="d-block">{{researcher.specialization}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Expertise/Techniques</h6><span class="d-block">{{researcher.expertise}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Number of Publications</h6><span class="d-block">{{researcher.publication_number}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Number of Patents</h6><span class="d-block">{{researcher.patent_number}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Number of Book Chapters</h6><span class="d-block">{{researcher.chapter}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Number of Textbooks Written (List Titles)</h6><span class="d-block">{{researcher.textbooks}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Google Scholar Profile Link</h6><span class="d-block">{{researcher.google}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Number of Grants Awarded</h6><span class="d-block">{{researcher.grants}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-1 mt-1">
                          <h6 class="mediafont text-info mb-1">Award</h6><span class="d-block">{{researcher.award3}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<div class="col-xl-8 col-md-12">
                <div class="card mt-2">
                  <div class="row">
                    <div class="form-group col-sm-12 mt-2">
                      <h4 class="text-info ml-4">Bio</h4>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                      <div class="form-row">
                        <div class="form-group col-sm-6 mb-2">
                            <span class="text-info">First Name: </span>{{ researcher.first_name}}
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            <span class="text-info">Last Name: </span>{{ researcher.last_name}}
                        </div>
                        <div class="form-group col-sm-6 mb-2">
                            <span class="text-info">Gender: </span>{{ researcher.gender}}
                        </div>

                        <div class="form-group col-sm-12 mb-2">
                            <span class="text-info">About: </span>{{ researcher.about}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>
                </div>







                    <div class="form-group col-sm-12 mb-2">
                        {{ form.year_join|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.position|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.specialization|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.expertise|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.award2|as_crispy_field }}
                    </div>
                  </div>
                </div>
                <div class="col-md-1">

                </div>
              </div>
            </div>




            <div class="card mt-2">
              <div class="row">
                <div class="form-group col-sm-12 mt-2">
                  <h4 class="text-info ml-4">Research Experience</h4>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                  <div class="form-row">
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.publication_number|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.patent_number|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.chapter|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.textbooks|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.google|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.grants|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-12 mb-2">
                        {{ form.award3|as_crispy_field }}
                    </div>
                  </div>






                <div class="card mt-2">
                  <div class="row">
                    <div class="form-group col-sm-12 mt-2">
                      <h4 class="text-info ml-4">Affiliation</h4>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                      <div class="form-row">
                        <div class="form-group col-sm-12 mb-2">
                            <span class="text-info">Institution: </span>{{ researcher.affiliation_name}}
                        </div>
                        <div class="form-group col-sm-12 mb-2">
                            <span class="text-info">Institution Address: </span>{{ researcher.affiliation_address}}
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <span class="text-info">City: </span>{{ researcher.city}}
                        </div>

                        <div class="form-group col-sm-4 mb-2">
                            <span class="text-info">: </span>{{ researcher.state}}
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <span class="text-info">Country: </span>{{ researcher.country}}
                        </div>

                        <div class="form-group col-sm-12 mb-2">
                            <span class="text-info">Institution: </span>{{ researcher.affiliation_name}}
                        </div>
                        <div class="form-group col-sm-12 mb-2">
                            <span class="text-info">Institution Address: </span>{{ researcher.affiliation_address}}
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <span class="text-info">City: </span>{{ researcher.city}}
                        </div>

                        <div class="form-group col-sm-4 mb-2">
                            <span class="text-info">State: </span>{{ researcher.state}}
                        </div>
                        <div class="form-group col-sm-4 mb-2">
                            <span class="text-info">Country: </span>{{ researcher.country}}
                        </div>

                      </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
{% endblock content%}
