{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  <title>{{researcher.first_name}} {{researcher.last_name}}'s Profile</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<div class=" app-content">
	<div class="side-app">
    <br>
				<div class="container content-area">
					<div class="horizontal-content">

						<div class="row">
              {% include '_alerts.html' %}
              <div class="col-xl-4  col-md-12">
                <div class="card box-widget widget-user">
                  <div class="widget-user-header bg-gradient-primary"></div>
                  {% if researcher.photograph %}
                  <div class="text-center"><img alt="Profile Picture" class="profile-big" src="{{researcher.photographURL}}"></div>
                  {% else %}
                  <div class="text-center"><i class="fa fa-user-circle text-info fa-5x"></i></div>
                  {% endif %}
                  <div class="card-body text-center">
                    <div class="pro-user">
                      <h3 class="pro-user-username text-info"><strong>{{researcher.first_name}} {{researcher.last_name}}</strong></h3>
                      <div class="badge bg-info text-white rounded-pill badge-marketing badge-sm"><strong>{{researcher.type}}</strong></div>
                      <br>
                      <br>
                      {% if request.user in researcher.followers.all %}
                      <a href="{% url 'unfollow' researcher.username %}" class="btn btn-info btn-sm">Unfollow</a>
                      {% else %}
                      <a href="{% url 'follow' researcher.username %}" class="btn btn-info btn-sm mr-1">Follow</a>
                      {% endif %}
                      <div class="pro-user-icons">
                        <a href="#" class="facebook-bg mt-0"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="twitter-bg"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="google-bg"><i class="fab fa-google"></i></a>
                        <a href="#" class="dribbble-bg"><i class="fab fa-dribbble"></i></a>
                      </div>
                    </div>

                  </div>
                  <div class="card-footer p-0">
                    <div class="row">
                      <div class="col-sm-6 border-right ">
                        <div class="description-block">
                          <h5 class="description-header">{{followers}}</h5><span class="text-muted">Followers</span>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="description-block">
                          <h5 class="description-header">{{followings}}</h5><span class="text-muted">Following</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Personal Info</div>
                  </div>
                  <div class="card-body">
                    <div class="media-list">
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-user" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-5 mt-1">
                          <h6 class="mediafont text-dark mb-1">Full Name</h6><span class="d-block">{{researcher.first_name}} {{researcher.last_name}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-5 mt-1">
                          <h6 class="mediafont text-dark mb-1">Email Address</h6><span class="d-block">{{researcher.username}}</span>
                        </div>
                      </div>
                      <div class="media mt-1 pb-2">
                        <div class="mediaicon">
                          <i class="si si-location-pin" aria-hidden="true"></i>
                        </div>
                        <div class="media-body ml-5 mt-1">
                          <h6 class="mediafont text-dark mb-1">City</h6><span class="d-block">{{researcher.city}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<div class="col-xl-8 col-md-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">About</div>
									</div>
									<div class="card-body">
										{{researcher.about}}

									</div>
								</div>

									</div>
								</div>
							</div>
						</div>
					</div>
        </div>
      <div>
{% endblock content%}
