{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Home | Et al.</title>

{% endblock title %}

{% block content %}

<!-- Page Header-->
<header class="page-header-ui page-header-ui-dark bg-info">
    <div class="page-header-ui-content pt-1">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="carousel-caption-top0">
                            <!-- <div class="card bg-light-blue"> -->
                              <h1 class="page-header-ui-title">Research is <span class="text-success">better</span> when we Et al.</h1>
                            <!-- </div> -->
                            <h5 class="text-black mb-5">Collaboration platform for Academic Researchers
                              with the tools they need in one place.
                            </h5>
                          </div>
                        </div>

                        <div class="carousel-item">
                          <div class="carousel-caption-top0">
                            <!-- <div class="card bg-info"> -->
                              <h1 class="page-header-ui-title">Research is <span class="text-red">impactful</span> when we Et al.</h1>
                            <!-- </div> -->
                            <h5 class="text-black mb-5">Collaboration platform for Academic Researchers
                              with the tools they need in one place.
                            </h5>
                          </div>
                        </div>

                        <div class="carousel-item">
                          <div class="carousel-caption-top0">
                            <!-- <div class="card bg-info"> -->
                              <h1 class="page-header-ui-title">Research is <span class="text-purple">interesting</span> when we Et al.</h1>
                            <!-- </div> -->
                            <h5 class="text-black mb-5">Collaboration platform for Academic Researchers
                              with the tools they need in one place.
                            </h5>
                          </div>
                        </div>

                        <div class="carousel-item">
                          <div class="carousel-caption-top0">
                            <!-- <div class="card bg-info"> -->
                              <h1 class="page-header-ui-title">Research is <span class="text-yellow">fun</span> when we Et al.</h1>
                            <!-- </div> -->
                            <h5 class="text-black mb-5">Collaboration platform for Academic Researchers
                              with the tools they need in one place.
                            </h5>
                          </div>
                        </div>

                        <div class="carousel-item">
                          <div class="carousel-caption-top0">
                            <!-- <div class="card bg-info"> -->
                              <h1 class="page-header-ui-title">Research is <span class="text-black">borderless</span> when we Et al.</h1>
                            <!-- </div> -->
                            <h5 class="text-black mb-5">Collaboration platform for Academic Researchers
                              with the tools they need in one place.
                            </h5>
                          </div>
                        </div>

                      </div>
                    </div>

                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up">
                  <video width="700" height="500" loop="true" autoplay="autoplay" muted>
                    <source src="{% static 'img/etal_video.mp4' %}" type="video/mp4">
                  </video>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
          <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<section class="bg-light py-10">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
                <div class="content-skewed content-skewed-right"><img class="content-skewed-item img-fluid shadow-lg rounded-3" src="{% static 'img/universal.jpg' %}" alt="Ideas are universal" /></div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
                <div class="mb-5">
                  <h2 class="text-info"><strong>Ideas are universal, access is not.</strong></h2>
                  <p class="lead text-dark">
                    Et al. helps you achieve infinite possibilities to
                    do what you love, wherever you might be and
                    whatever your circumstance. Leverage the
                    power of community to get the access you
                    require.
                  </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="bg-light py-10">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
              <div class="mb-5">
                <h2 class="text-info"><strong>When we et al, we achieve more</strong></h2>
                <p class="lead text-dark">
                  Et al. is built with researchers in mind.
                  Collaborate and manage your
                  collaborations with subject experts
                  from anywhere.
                </p>
              </div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">


                <div class="content-skewed content-skewed-left"><img class="content-skewed-item img-fluid shadow-lg rounded-3" src="{% static 'img/when_we.jpg' %}" alt="When we etal." /></div>


            </div>
        </div>
    </div>
</section>

<section class="bg-light py-10">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-md-12 col-lg-12 order-1 order-lg-0" data-aos="fade-up">
              <div class="mb-1">
                <h2 class="text-info"><strong>Your research collaboration tools on one platform</strong></h2>
                <p style="text-align:justify" class="lead text-dark">
                  Et al. promotes seamless cross-border research collaboration.
                  Brainstorm ideas easily on Board. Stay in the know and keep the
                  conversation going with <span class="text-info h4"><strong>Chat</strong></span>. Assign responsibility with <span class="text-info h4"><strong>Task</strong></span>.
                  Report and keep track of research/experiment outcomes with <span class="text-info h4"><strong>ResearchNote</strong></span>. Share files and be on the same page with your
                  collaborators with <span class="text-info h4"><strong>CollabDoc</strong></span>. Plan your research with <span class="text-info h4"><strong>Scheduler</strong></span>. Bring
                  your collaborators together in a live conversation with <span class="text-info h4"><strong>Meeting</strong></span>. With Et al. research just got borderless.

                </p>
              </div>
            </div>
        </div>
    </div>
</section>

<marquee behavior="scroll" direction="left" scrollamount="5">
  <img src="{% static 'img/ChatRoom.jpg' %}" class="logo10" alt="">
  <img src="{% static 'img/Tasks.jpg' %}" class="logo10" alt="">
  <img src="{% static 'img/research_note.jpg' %}" class="logo10" alt="">
  <img src="{% static 'img/collab_doc.jpg' %}" class="logo10" alt="">
  <img src="{% static 'img/Scheduler.jpg' %}" class="logo10" alt="">

</marquee>

<section class="bg-white py-10">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-12 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
                <div class="mb-5">
                    <h1 class="text-info"><strong>Start collaborating on your next research in 4 easy steps.</strong></h1>
                </div>
                <div class="row gx-5">
                    <div class="col-md-6 mb-4">
                      <img src="{% static 'img/Create.jpg' %}" class="logo11" alt="">

                    </div>
                    <div class="col-md-6 mb-4">
                      <img src="{% static 'img/Join2.jpg' %}" class="logo11" alt="">
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-md-6 mb-4">
                      <img src="{% static 'img/Manage.jpg' %}" class="logo11" alt="">
                    </div>
                    <div class="col-md-6 mb-4">
                      <img src="{% static 'img/Monitor.jpg' %}" class="logo11" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-10">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
              <div class="mb-5">
                <h2 class="text-info"><strong>Discover</strong></h2>
                <p class="lead text-dark">
                  Share your thought, broadcast your
                  work and discover other researchers’
                  works and thoughts.
                </p>
              </div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
            <div class="content-skewed content-skewed-left"><img class="content-skewed-item img-fluid shadow-lg rounded-3" src="{% static 'img/discover.png' %}" alt="When we etal." /></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-10">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
                <div class="content-skewed content-skewed-right"><img class="content-skewed-item img-fluid shadow-lg rounded-3" src="{% static 'img/Community.jpg' %}" alt="Ideas are universal" /></div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
                <div class="mb-5">
                  <h2 class="text-info"><strong>Community</strong></h2>
                  <p class="lead text-dark">
                    Get and give expert answers to research questions.
                  </p>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content%}
