{% extends 'base/base.html' %}
{% load static %}


{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'css2/main.css' %}" />
{% endblock extracss %}

{% block title %}
<title>Schedules</title>
{% endblock title %}

{% block content %}
<div class="app-content bg-white">
					<div class="side-app">
            <div class="row bg-light">
              <div class="col-md-3 ml-2">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <li><a title="CollabDocs" href="{% url 'folders_initiated' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="CollabDocs" href="{% url 'folders_accepted' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  <li><a title="Tasks" href="tasks"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  <li><a title="Scheduler" href="schedules"><i class="fas fa-calendar-check text-light-blue fa-2x mr-2"></i></a></li>
                  <li><a title="ChatRoom" href="{% url 'chat' collab.id %}"><i class="fas fa-users text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ResearchNotes" href="notes"><i class="fas fa-clipboard text-info fa-2x mr-2"></i></a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <br>
                <ul>
                  <li class="text-info h4">{{collab.title}}</li>
                </ul>
              </div>
              <div class="col-md-2 text-right">
                <br>
                <ul>
                  {% if collab.researcher.photograph %}
                  <li><sup><a href="{% url 'show_user' collab.researcher.username %}"><img href="" src="{{ collab.researcher.photographURL }}" alt="Photograph" class="profile-not"></a></sup></li>
                  {% else %}
                  <li><a href="{% url 'show_user' collab.researcher.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                  {% endif %}
                  {% for person in collab.collaborators.all %}
                    {% if person.photograph %}
                      <li><sup><a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-task"></a></sup></li>
                    {% else %}
                      <li><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </div>

            <hr class="bg-info">
              {% include '_alerts.html' %}

              <div class="container content-area">
                <div class="horizontal-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tile row bg-light">
                                <div class="col-md-3">
                                    <div id="external-events">
                                      <a class="btn btn-sm btn-info" href="{% url 'calendarapp:all-schedules-initiated' collab.id %}">VIEW ALL</a>
                                      <br>
                                      <br>
                                        <P class="mb-4 h4">Ongoing Schedules</P>
                                        {% for event in events_month %}
                                        <a href="{% url 'calendarapp:show_event_initiated' collab.id event.id %}">
                                          <div class="fc-event">
                                              <h5>{{ event.title }}</h5>
                                              <p>From: {{ event.start_time }}</p>
                                              <p>To: {{ event.end_time }}</p>
                                          </div>
                                        </a>
                                        {% empty %}
                                          <p>No Ongoing Schedule</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div id="calendar"></div>
                                </div>

                                <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-primary" id="exampleModalLongTitle">Add New Event</h5>
                                                <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">Event Title:</label>
                                                        {{ form.title }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Description:</label>
                                                        {{ form.description }}
                                                    </div>
                                                    <div id="start" class="form-group">
                                                        <label for="message-text" id="start" class="col-form-label">Start Date:</label>
                                                        {{ form.start_time }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">End Date:</label>
                                                        {{ form.end_time }}
                                                    </div>
                                                    <div id="start" class="form-group">
                                                        <label for="message-text" id="start" class="col-form-label">Location:</label>
                                                        {{ form.location }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Link:</label>
                                                        {{ form.link }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Reminder:</label>
                                                        {{ form.reminder }}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %}

    {% block extrascripts %}
      <script src="{% static 'calender/main.js' %}"></script>

      <script src="{% static 'js2/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js2/popper.js' %}"></script>
      <script src="{% static 'js2/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js2/main.js' %}"></script>
      <!-- The javascript plugin to display page loading on top-->
      <script src="{% static 'js2/plugins/pace.min.js'%}"></script>
      <script>
          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var today = new Date();

            var calendar = new FullCalendar.Calendar(calendarEl, {
              headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,list'

              },

              initialDate: today,
              navLinks: true, // can click day/week names to navigate views
              selectable: true,
              selectMirror: true,
              initialView: 'timeGridWeek',
              // select: function(arg) {

              //   console.log('clicked')
              //   var modal = document.getElementById('eventModal')
              //   modal.style.display = 'block'
              //   calendar.unselect()
              // },

              dateClick: function(info) {

                console.log('clicked')

                var modal = document.getElementById('eventModal')
                modal.style.display = 'block'
              },
              // THIS KEY WON'T WORK IN PRODUCTION!!!
              // To make your own Google API key, follow the directions here:
              // http://fullcalendar.io/docs/google_calendar/
              // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

              // bangladesh Holidays
              // events: 'bn.bd#holiday@group.v.calendar.google.com',




              editable: true,
              dayMaxEvents: true, // allow "more" link when too many events
              events: {{ events|safe }},
              // events: [
              //   {
              //     title: 'All Day Event',
              //     start: '2021-06-26'
              //   },
              //   {
              //     groupId: 999,
              //     title: 'Repeating Event',
              //     start: '2020-09-16T16:00:00'
              //   },
              //   {
              //     title: 'Conference',
              //     start: '2020-09-11',
              //     end: '2020-09-13'
              //   },
              //   {
              //     title: 'Click for Google',
              //     url: 'http://google.com/',
              //     start: '2020-09-28'
              //   }
              // ]
            });

            calendar.render();





          });

          const closeBtn1 = document.getElementById('modalClose1');
          const closeBtn2 = document.getElementById('modalClose2');
          closeBtn1.addEventListener('click',()=>{
            const eventModal = document.getElementById('eventModal')
            eventModal.style.display = 'none';
          });
          closeBtn2.addEventListener('click',()=>{
            const eventModal = document.getElementById('eventModal')
            eventModal.style.display = 'none';
          });


      </script>
    {% endblock extrascripts %}
