{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Event Details</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <br>

              <div class="container content-area">
                <div class="horizontal-content">
                  {% include '_alerts.html' %}
                  <div class="row">
      							<div class="col-xl-7 col-lg-12 col-md-12">
      								<div class="card">
      									<div class="card-body">
      										<div class="mt-4 mb-4">
      											<h3 class="text-info">{{event.title}}</h3>
      										</div>
      										<div class="mt-4 product-spec">
      											<div class="pro_detail">
      												<ul class="list-unstyled mb-0">
      													<li class="row border-bottom-0">
                                  <div class="col-sm-3 text-muted mb-2">Start Time</div>
      														<div class="col-sm-9 mb-2">{{event.start_time}}</div>
      													</li>
      													<li class=" row border-bottom-0">
      														<div class="col-sm-3 text-muted mb-2">End Time</div>
      														<div class="col-sm-3 mb-2">{{event.end_time}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Location</div>
      														<div class="col-sm-3 mb-2">{{event.location}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Description</div>
      														<div class="col-sm-3 mb-2">{{event.description}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Link</div>
      														<div class="col-sm-6 mb-2">{{event.link}}</div>
      													</li>
      													<li class="border-bottom-0 row">
      														<div class="col-sm-3 text-muted mb-2">Reminder</div>
      														<div class="col-sm-3 mb-2">{{event.reminder}}</div>
      													</li
                                <br>
                                <br>
                                <br>
                                Created on {{event.created_at}}
                                <div class="pull-right">
                                  <div class="">Created by</div>
                                  {% if event.user.photograph %}
                                    <a href="{% url 'show_user' user.username %}"><img href="" src="{{ user.photographURL }}" alt="Photograph" class="profile-col"></a>
                                  {% else %}
                                    <a href="{% url 'show_user' user.username %}"><i class="fa fa-user-circle text-info fa-5x"></i></a>
                                  {% endif %}
                                </div>

      												</ul>
      											</div>
      										</div>
      									</div>
      								</div>
                    {% if event.user == request.user %}
                    <div class="modal fade" id="add2" role="dialog">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title text-info" id="inquiryModalLabel"><i class="fas fa-question-circle"></i> Available</h4>
                                  <button type="button" class="close" data-dismiss="modal">
                                      <span>&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                <br>
                                <form method="post" class="form-group col-lg-12 text-info" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-row">
                                    <div class="form-group col-sm-12 mb-2">
                                        {{ form2.available|as_crispy_field }}
                                    </div>
                                </div>

                                <input type="submit" class="form-group col-md-12 btn btn-info" value="OK">
                              </form>
                              </div>
                          </div>
                      </div>
                    </div>
                    <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#add2"><strong><i class="fas fa-question-circle fa-1x mr-1"></i>Available</strong></button>
                      <a class="text-white pull-right" href="{{event.id}}/delete"><button class="btn btn-sm btn-red" type="button" name="button"><strong><i class="fas fa-trash fa-1x mr-1"></i>Delete</strong></button></a>

                      <div class="modal fade" id="add1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-info" id="inquiryModalLabel"><i class="fas fa-edit"></i> Edit Event</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                  <br>
                                  <form method="post" class="form-group col-lg-12 text-info" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.title|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.description|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.start_time|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.end_time|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.link|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.location|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.reminder|as_crispy_field }}
                                      </div>
                                  </div>
                                  <input type="submit" class="form-group col-md-12 btn btn-info" value="OK">
                                </form>
                                </div>
                            </div>
                        </div>
                      </div>
                      <button class="btn btn-sm btn-info pull-right mr-1" data-toggle="modal" data-target="#add1"><strong><i class="fas fa-edit fa-1x mr-1"></i>Edit</strong></button>
                      <!-- <a class="text-white pull-right mr-1" href="{{event.id}}/update"><button class="btn btn-info" type="button" name="button"><strong><i class="fas fa-edit fa-1x mr-1"></i>Edit</strong></button></a> -->
                    {% else %}

                    <div class="modal fade" id="add2" role="dialog">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title text-info" id="inquiryModalLabel"><i class="fas fa-question-circle"></i> Available</h4>
                                  <button type="button" class="close" data-dismiss="modal">
                                      <span>&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                <br>
                                <form method="post" class="form-group col-lg-12 text-info" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-row">
                                    <div class="form-group col-sm-12 mb-2">
                                        {{ form2.available|as_crispy_field }}
                                    </div>
                                </div>

                                <input type="submit" class="form-group col-md-12 btn btn-info" value="OK">
                              </form>
                              </div>
                          </div>
                      </div>
                    </div>
                    <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#add2"><strong><i class="fas fa-question-circle fa-1x mr-1"></i>Available</strong></button>

                    {% endif %}
                    </div>

                    <div class="col-xl-3 col-md-12">

                    </div>

                    <div class="col-xl-4 col-md-12">

                    </div>
      						</div>
      					</div>
              </div>


          </div>
        </div>

{% endblock content%}
