{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Notes</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% include '_alerts.html' %}
<div class=" app-content">
					<div class="side-app">
            <div class="row bg-light">
              <div class="col-md-3 ml-2">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <li><a title="CollabDocs" href="{% url 'folders_initiated' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="CollabDocs" href="{% url 'folders_accepted' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  {% if request.user == collab.researcher %}
                  <li><a title="Tasks" href="{% url 'tasks_initiated' collab.id %}"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="Tasks" href="{% url 'tasks_accepted' collab.id %}"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  <li><a title="Scheduler" href="schedules"><i class="fas fa-calendar-check text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ChatRoom" href="{% url 'chat' collab.id %}"><i class="fas fa-users text-info fa-2x mr-2"></i></a></li>
                  {% if request.user == collab.researcher %}
                  <li><a title="ResearchNotes" href="{% url 'notes_initiated' collab.id %}"><i class="fas fa-clipboard text-light-blue fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="ResearchNotes" href="{% url 'notes_accepted' collab.id %}"><i class="fas fa-clipboard text-light-blue fa-2x mr-2"></i></a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-6">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <a href="{% url 'show_collab_initiated' collab.id %}"><h4 class=" mb-1"><span class="text-info">{{collab.title}}</span></h4></a>
                  {% elif request.user in collab.collaborators.all %}
                  <a href="{% url 'show_collab_accepted' collab.id %}"><h4 class=" mb-1"><span class="text-info">{{collab.title}}</span></h4></a>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-2 text-right">
                <br>
                <ul>
                  {% if collab.researcher.photograph %}
                  <li><sup><a href="{% url 'show_user' collab.researcher.user_Id %}"><img href="" src="{{ collab.researcher.photographURL }}" alt="Photograph" class="profile-not"><strong>{{collab.researcher.first_name|slice:":1"}}</strong> <strong>{{collab.researcher.last_name|slice:":1"}}</strong></a></sup></li>
                  {% else %}
                  <li><a href="{% url 'show_user' collab.researcher.user_Id %}"><i class="fa fa-user-circle text-info fa-2x"></i><strong>{{collab.researcher.first_name|slice:":1"}}</strong> <strong>{{collab.researcher.last_name|slice:":1"}}</strong></a></li>
                  {% endif %}
                  {% for person in collab.collaborators.all %}
                    {% if person.photograph %}
                      <li><sup><a href="{% url 'show_user' person.user_Id %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-not"><strong>{{person.first_name|slice:":1"}}</strong> <strong>{{person.last_name|slice:":1"}}</strong></a></sup></li>
                    {% else %}
                      <li><a href="{% url 'show_user' person.user_Id %}"><i class="fa fa-user-circle text-info fa-2x"></i><sup><strong>{{person.first_name|slice:":1"}}</strong> <strong>{{person.last_name|slice:":1"}}</strong></sup></a></li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </div>

            <hr class="bg-info">
              {% include '_alerts.html' %}
              <div class="container content-area">
                <div class="horizontal-content">
                  <div class="row">
                    <div class="col-md-1">

                      <div class="modal fade" id="add1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-info" id="inquiryModalLabel"><i class="fas fa-clipboard"></i> Add Note</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                  <br>
                                  <form method="post" class="form-group col-lg-12 text-info" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.title|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.aims|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.date_conducted|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.location|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.setup|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.method|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.result|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.observations|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form.document|as_crispy_field }}
                                      </div>
                                  </div>
                                  <input type="submit" class="form-group col-md-12 btn btn-info" value="OK">
                                </form>
                                </div>
                            </div>
                        </div>
                      </div>
                      <button class="btn btn-info" data-toggle="modal" data-target="#add1"><strong>New</strong></button>
                    </div>
                    <div class="col-md-11">

                    </div>
                  </div>
                  <br>
                  <div class="row">
                      {% for note in notes_page_obj %}
                      <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="card">
                          {% if note.is_pinned %}
                          <i class="fa fa-bookmark text-info"></i>
                          {% else %}
                          {% endif %}
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-10">
                                {% if request.user == collab.researcher %}
                                <a href="{% url 'show_note_initiated' collab.id note.id %}"><h3 class=" mb-1"><span class="text-info">{{note.title|slice:":27"}}...</span></h3></a>
                                {% elif request.user in collab.collaborators.all %}
                                <a href="{% url 'show_note_accepted' collab.id note.id %}"><h3 class=" mb-1"><span class="text-info">{{note.title|slice:":27"}}...</span></h3></a>
                                {% endif %}
            										<p class="text-muted">{{note.method|slice:":200"}}...</p>
                              </div>
                              <div class="col-md-2">
                                <div class="float-right text-right">
                                  <div class="card-options text-info">
                                    <span class="dropdown-toggle fs-16" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v" ></i></span>

                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                      {% if request.user == collab.researcher %}
                                      <li><a href="{% url 'show_note_initiated' collab.id note.id %}"><i class="fa fa-eye mr-2"></i>Open</a></li>
                                      {% elif request.user in collab.collaborators.all %}
                                      <li><a href="{% url 'show_note_accepted' collab.id note.id %}"><i class="fa fa-eye mr-2"></i>Open</a></li>
                                      {% endif %}
                                      <li><a href="notes/pin/{{note.id}}"><i class="fa fa-map-pin mr-2"></i>Pin</a></li>
                                      {% if note.document %}
                                      <li><a href="{{note.document.url}}"><i class="fa fa-download mr-2"></i>Download</a></li>
                                      {% endif %}
                                      {% if note.user == request.user %}
                                      <li><a href="notes/delete/{{note.id}}"><i class="fa fa-trash mr-2"></i>Delete</a></li>
                                      {% endif %}
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <p class="text-muted">{{note.description}}</p>
                            <div class="row">
                              <div class="col-md-5">
                                <tr>
                                  <td>
                                    {% for person in note.assigned_to.all %}
                                      {% if person.photograph %}
                                        <a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-note"></a>
                                      {% else %}
                                        <sub><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></sub>
                                      {% endif %}
                                    {% endfor %}
                                  </td>
                                </tr>
                              </div>
                              <div class="col-md-7 text-right">
                                <span class="text-info"><i class="fa fa-calendar mr-1"></i>{{note.date_conducted}}</span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <!-- {% if notes_page_obj %}
                      <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                          <li class="page-item"><a class="text-info page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                          {% if notes_page_obj.has_previous %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url notes_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{notes_page_obj.previous_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item active" aria-current="page"><a class="bg-info page-link" href="{% my_url notes_page_obj.number 'page' request.GET.urlencode %}">{{notes_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                          {% if notes_page_obj.has_next %}
                            <li class="page-item"><a class="text-info page-link" href="{% my_url notes_page_obj.next_page_number 'page' request.GET.urlencode %}">{{notes_page_obj.next_page_number}}</a></li>
                          {% endif %}
                          <li class="page-item"><a class="text-info page-link" href="{% my_url notes_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                        </ul>
                      </nav>
                      {% endif %} -->
                    </div>
  								</div>
  							</div>
            </div>
					</div>
{% endblock content%}
