{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Note Details</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <div class="row bg-light">
              <div class="col-md-3 ml-2">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <li><a title="CollabDocs" href="{% url 'folders_initiated' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="CollabDocs" href="{% url 'folders_accepted' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  {% if request.user == collab.researcher %}
                  <li><a title="Tasks" href="{% url 'tasks_initiated' collab.id %}"><i class="fas fa-tasks text-light-blue fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="Tasks" href="{% url 'tasks_accepted' collab.id %}"><i class="fas fa-tasks text-light-blue fa-2x mr-2"></i></a></li>
                  {% endif %}
                  {% if request.user == collab.researcher %}
                  <li><a title="Scheduler" href="{% url 'calendarapp:schedules-initiated' collab.id %}"><i class="fas fa-calendar-check text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="Scheduler" href="{% url 'calendarapp:schedules-accepted' collab.id %}"><i class="fas fa-calendar-check text-info fa-2x mr-2"></i></a></li>

                  {% endif %}
                  <li><a title="ChatRoom" href="{% url 'chat' collab.id %}"><i class="fas fa-users text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ResearchNotes" href="notes"><i class="fas fa-clipboard text-info fa-2x mr-2"></i></a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <br>
                <ul>
                  <li class="text-info h4">{{collab.title}}</li>
                </ul>
              </div>
              <div class="col-md-2 text-right">
                <br>
                <ul>
                  {% if collab.researcher.photograph %}
                  <li><sup><a href="{% url 'show_user' collab.researcher.username %}"><img href="" src="{{ collab.researcher.photographURL }}" alt="Photograph" class="profile-not"></a></sup></li>
                  {% else %}
                  <li><a href="{% url 'show_user' collab.researcher.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                  {% endif %}
                  {% for person in collab.collaborators.all %}
                    {% if person.photograph %}
                      <li><sup><a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-task"></a></sup></li>
                    {% else %}
                      <li><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </div>

            <hr class="bg-info">
              {% include '_alerts.html' %}
              <div class="container content-area">
                <div class="horizontal-content">

                  <div class="row">
      							<div class="col-xl-5 col-lg-12 col-md-12">
      								<div class="card">
      									<div class="card-body">
      										<div class="mt-4 mb-4">
      											<h3 class="text-info">{{note.title}}</h3>
      											<p>{{note.method|linebreaks}}</p>
      										</div>
      									</div>
      								</div>
                      {% if request.user == collab.researcher %}

                      <div class="modal fade" id="add2" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-info" id="inquiryModalLabel"><i class="fas fa-edit"></i> Edit Note</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                  <br>
                                  <form method="post" class="form-group col-lg-12 text-info" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form2.assigned_to|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form2.title|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form2.description|as_crispy_field }}
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-sm-12 mb-2">
                                          {{ form2.due_date|as_crispy_field }}
                                      </div>
                                  </div>

                                  <input type="submit" class="form-group col-md-12 btn btn-info" value="OK">
                                </form>
                                </div>
                            </div>
                        </div>
                      </div>
                      <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#add2"><strong><i class="fas fa-edit fa-1x mr-1"></i>Edit</strong></button>
                      <a class="text-white pull-right" href="{% url 'delete_task_initiated' collab.id task.id %}"><button class="btn btn-sm btn-red" type="button" name="button"><strong><i class="fas fa-trash fa-1x mr-1"></i>Delete</strong></button></a>
                      <br>
                      <br>


                      {% elif request.user in task.assigned_to.all %}

                      {% endif %}

                    </div>

                    <div class="col-xl-4 col-md-12">
                      Submitted on {{note.created}}
                      by 

                    </div>

      						</div>
      					</div>
              </div>

          </div>
        </div>

{% endblock content%}
