{% extends 'board_community.html' %}
{% load humanize %}
{% block content %}

<style media="screen">
  .inline-container {
  display: flex;
  flex-direction: row;
 }
</style>

<div class=" app-content">
  <div class="side-app">
    <br>
    <div class="container content-area">
      <div class="horizontal-content">
        {% include '_alerts.html' %}
        <div class="">

          <nav class="navbar">
            <div class="main-menu">
              <ul>
                <li><a class="h4" href="">All Questions</a></li>
              </ul>
            </div>
            <div class="user-menu">
              <ul>
                <li><a class="btn btn-sm btn-info" href="{% url 'new-question' %}"><span class="text-white">Ask a research question</span></a></li>
              </ul>
            </div>
          </nav>



          <div class="page question-page">
            {% if request.user == question.author %}
            <div class="inline-container">
              <h3 class="question-title text-info mr-2">{{question.title}}</h3>
              <a class="text-white" href="{{question.id}}/update"><button class="btn btn-sm btn-info mr-1" type="button" name="button"><strong><i class="fas fa-edit fa-1x mr-1"></i>Edit</strong></button></a>
              <a class="text-white" href="{{question.id}}/delete"><button class="btn btn-sm btn-red" type="button" name="button"><strong><i class="fas fa-trash fa-1x mr-1"></i>Delete</strong></button></a>
            </div>
            {% else %}
            <h3 class="question-title text-info">{{question.title}}</h3>
            {% endif %}
            <p class="question-body">{{question.body}}</p>
            <div class="inline-container">
              <i class="question-author">asked {{question.created_at|timesince}} ago by <span class="text-gray">{{question.author.first_name}} {{question.author.last_name}}</span></i>
            </div>
              <br>
              <div class="responses-container">
                {% if not question.responses.all %}
                  <p class="no-responses-text">Be the first to respond</p>
                {% else %}
                <h5 class="responses-container-heading">Responses</h5>
                  {% for response in question.get_responses %}
                    {% include 'components/response.html' with response=response %}
                  {% endfor %}
                {% endif %}
              </div>

              {% if user.is_authenticated %}
              <form method="POST" action="" class="response-form">
              {% csrf_token %}
              <div class="fieldWrapper">
                <label for="{{response_form.body.id_for_label}}"></label>
                {{response_form.body}}
                <br>
                <input type="submit" value="Send" class="btn btn-info"/>
              </div>

              </form>
              {% endif %}

              </div>



        </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
