{% extends 'board.html' %}

{% block content %}
<div class=" app-content">
  <div class="side-app">
    <br>
    <div class="container content-area">
      <div class="horizontal-content">
        {% include '_alerts.html' %}
        <div class="">

          <nav class="navbar">
            <div class="main-menu">
              <ul>
                <li><a class="h4" href="">All Questions</a></li>
              </ul>
            </div>
            <div class="user-menu">
              <ul>
                <li><a class="btn btn-sm btn-info" href="{% url 'new-question' %}"><span class="text-white">Ask a research question</span></a></li>
              </ul>
            </div>
          </nav>
          <div class="page">

          {% for question in questions %}
          <div class="question-list-item">
            <a href="{% url 'question' question.id %}">
              <p class="question-list-item-title text-info h5">
                {{question.title}}
              </p>
              <p class="question-list-item-author text-gray">
                <span class="text-dark">asked by</span> {{question.author.first_name}} {{question.author.last_name}}
              </p>
            </a>
          </div>
          {% endfor %}
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
