{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Chat Room</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <br>
            <div class="container content-area">
              <div class="horizontal-content">

                <div class="row">
    							<div class="col-xl-12 col-lg-12 col-md-12">
                    <strong>Please enter the chat room you want to create or join?</strong>
                    <br>
                      <input id="room-name-input" type="text" size="50">
                      <input id="room-name-submit" class="btn btn-sm btn-info" type="button" value="Okay">

                      <script>
                          document.querySelector('#room-name-input').focus();
                          document.querySelector('#room-name-input').onkeyup = function(e) {
                              if (e.keyCode === 13) {  // enter, return
                                  document.querySelector('#room-name-submit').click();
                              }
                          };

                          document.querySelector('#room-name-submit').onclick = function(e) {
                              // var roomName = document.querySelector('#room-name-input').value;
                              var roomName = "{{collab.id}}";
                              //window.location.pathname = '/chat/' + roomName + '/';
                              window.location.pathname = ':8001/chat/' + roomName + '/';
                          };
                      </script>

    							</div>
    						</div>
    					</div>
            </div>
          </div>
        </div>

{% endblock content%}
