{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Collab Details</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <br>
            <div class="container content-area">
              <div class="horizontal-content">

                <div class="row">
    							<div class="col-xl-12 col-lg-12 col-md-12">
                    <h1>Let's Chat</h1>

                    <form id=form>
                      <input type="text" name="message" />
                    </form>

                    <div id="messages">

                    </div>


                    <script type="text/javascript">
                      let url = `ws://${window.location.host}/ws/socket-server/`
                      const chatSocket = new  WebSocket(url)

                      chatSocket.onmessage = function(e){
                        let data = JSON.parse(e.data)
                        console.log('Data:', data)

                        if(data.type === 'chat'){
                          let messages = document.getElementById('messages')

                          messages.insertAdjacentHTML('beforeend', `<div>
                                                  <p>${data.message}</p>
                                              </div>`)
                        }
                      }

                      let form = document.getElementById('form')
                      form.addEventListener('submit', (e)=> {
                          e.preventDefault()
                          let message = e.target.message.value
                          chatSocket.send(JSON.stringify({
                              'message':message
                          }))
                          form.reset()
                      })

                    </script>

    							</div>
    						</div>
    					</div>
            </div>
          </div>
        </div>

{% endblock content%}
