{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Chat Room</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <div class="row bg-light">
              <div class="col-md-3 ml-2">
                <br>
                <ul>
                  {% if request.user == collab.researcher %}
                  <li><a title="CollabDocs" href="{% url 'folders_initiated' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="CollabDocs" href="{% url 'folders_accepted' collab.id %}"><i class="fas fa-folder-open text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  {% if request.user == collab.researcher %}
                  <li><a title="Tasks" href="{% url 'tasks_initiated' collab.id %}"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  {% elif request.user in collab.collaborators.all %}
                  <li><a title="Tasks" href="{% url 'tasks_accepted' collab.id %}"><i class="fas fa-tasks text-info fa-2x mr-2"></i></a></li>
                  {% endif %}
                  <li><a title="Scheduler" href="schedules"><i class="fas fa-calendar-check text-info fa-2x mr-2"></i></a></li>
                  <li><a title="ChatRoom" href="{% url 'chat' collab.id %}"><i class="fas fa-users text-light-blue fa-2x mr-2"></i></a></li>
                  <li><a title="ResearchNotes" href="notes"><i class="fas fa-clipboard text-info fa-2x mr-2"></i></a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <br>
                <ul>
                  <li class="text-info h4">{{collab.title}}</li>
                </ul>
              </div>
              <div class="col-md-2 text-right">
                <br>
                <ul>
                  {% if collab.researcher.photograph %}
                  <li><sup><a href="{% url 'show_user' collab.researcher.username %}"><img href="" src="{{ collab.researcher.photographURL }}" alt="Photograph" class="profile-not"></a></sup></li>
                  {% else %}
                  <li><a href="{% url 'show_user' collab.researcher.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                  {% endif %}
                  {% for person in collab.collaborators.all %}
                    {% if person.photograph %}
                      <li><sup><a href="{% url 'show_user' person.username %}"><img href="" src="{{ person.photographURL }}" alt="Photograph" class="profile-task"></a></sup></li>
                    {% else %}
                      <li><a href="{% url 'show_user' person.username %}"><i class="fa fa-user-circle text-info fa-2x"></i></a></li>
                    {% endif %}
                  {% endfor %}

                </ul>
              </div>
            </div>

            <hr class="bg-info">
              {% include '_alerts.html' %}
            <div class="container content-area">
              <div class="horizontal-content">

                <div class="row">
    							<div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="container">
                      <div id="chat-log">
                        {% for chat in chats.all %}
                          {% if chat.user.id == request.user.id %}
                            <div class="message sender">
                              <a href="{% url 'show_user' chat.user.username %}"><img href="" src="{{ chat.user.photographURL }}" alt="Photograph" class="profile-small"></a><strong class="text-light">Me:</strong> <span class="text-white">{{chat.content}}</span> <i class="text-dark">{{chat.timestamp}}</i>
                            </div>
                          {% else %}
                            <div class="message receiver">
                              <a href="{% url 'show_user' chat.user.username %}"><img href="" src="{{ chat.user.photographURL }}" alt="Photograph" class="profile-small"></a><strong class="text-light">{{chat.user}}:</strong> <span class="text-white">{{chat.content}}</span> <i class="text-dark">{{chat.timestamp}}</i>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>

                    </div>
                        <div class="">
                          <div class="msb-reply d-flex">
                            <div class="input-group">
                              <input id="chat-message-input" type="text" class="form-control" placeholder="Type your message">
                              <div class="input-group-append ">
                                <button id="chat-message-submit" type="button" class="btn btn-info">
                                  <i class="fas fa-paper-plane" aria-hidden="true"></i>
                                </button>
                                {{ room_name|json_script:"room-name" }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      {{ request.user.id|json_script:"user_id" }}
                      <script>
                          window.onload=function () {
                             var chatLog = document.getElementById("chat-log");
                             window.scrollTo(0,chatLog.offsetHeight);
                          }

                          var chatLog = document.querySelector('#chat-log');
                          window.scrollTo(0,chatLog.offsetHeight);
                          const roomName = JSON.parse(document.getElementById('room-name').textContent);

                          if (!chatLog.hasChildNodes()){
                              const emptyText = document.createElement('h3')
                              emptyText.id = 'emptyText'
                              emptyText.innerText = 'No Messages'
                              emptyText.className = 'emptyText'
                              chatLog.appendChild(emptyText)
                          }

                          const chatSocket = new WebSocket(
                              'wss://'
                              + window.location.host
                              + ':8001/ws/chat/'
                              + roomName
                              + '/'
                          );

                          chatSocket.onmessage = function(e) {
                              const data = JSON.parse(e.data);
                              const messageElement = document.createElement('div')
                              const userId = data['user_id']
                              const loggedInUserId = JSON.parse(document.getElementById('user_id').textContent)
                              console.log(loggedInUserId)
                              if (userId === loggedInUserId) {
                                  messageElement.innerText = "Me: " + data.message
                              }
                              else {
                                  messageElement.innerText = "{{request.user}}" + ": " + data.message
                              }

                              if (userId === loggedInUserId) {
                                  messageElement.classList.add('message', 'sender')
                              }
                              else {
                                  messageElement.classList.add('message', 'receiver')
                              }
                              chatLog.appendChild(messageElement)
                              if (document.querySelector('#emptyText')){
                                  document.querySelector('#emptyText').remove()
                              }
                              window.scrollTo(0,chatLog.offsetHeight);
                          };


                          chatSocket.onclose = function(e) {
                              console.error('Chat socket closed unexpectedly');
                          };

                          document.querySelector('#chat-message-input').focus();
                          document.querySelector('#chat-message-input').onkeyup = function(e) {
                              if (e.keyCode === 13) {  // enter, return
                                  document.querySelector('#chat-message-submit').click();
                              }
                          };

                          document.querySelector('#chat-message-submit').onclick = function(e) {

                              const messageInputDom = document.querySelector('#chat-message-input');
                              const message = messageInputDom.value;
                              chatSocket.send(JSON.stringify({
                                  'message': message
                              }));
                              messageInputDom.value = '';
                          };
                      </script>

    							</div>
    						</div>
    					</div>
            </div>
          </div>
        </div>

{% endblock content%}
