{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Chat Room</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <br>
            <div class="container content-area">
              <div class="horizontal-content">

                <div class="row">
    							<div class="col-xl-12 col-lg-12 col-md-12">

                    <div id="messages" class="alert alert-info alert-dismissible" role="alert">

                    </div>

                    <!-- <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br> -->
                      <input hidden id="chat-message-input" placeholder="Please type your message" value="{{user.username}}" class="form-group" type="text" size="50">
                      <input id="chat-message-submit" class="btn btn-sm btn-info" type="button" value="Send">

                      {{ room_name|json_script:"room-name" }}
                      <script>
                          const roomName = JSON.parse(document.getElementById('room-name').textContent);

                          const chatSocket = new WebSocket(
                              'ws://'
                              + window.location.host
                              + '/ws/chat/'
                              + roomName
                              + '/'
                          );

                          chatSocket.onmessage = function(e) {
                              const data = JSON.parse(e.data);
                              // document.querySelector('#chat-log').value += (data.message + '\n');

                              let messages = document.getElementById('messages')

                              messages.insertAdjacentHTML('beforeend', `<div>
                                                      <strong><p><span class="text-info">{{user.first_name}} {{user.last_name}}</span> ${data.message}</p></strong>
                                                  </div>`)
                          };

                          chatSocket.onclose = function(e) {
                              console.error('Chat socket closed unexpectedly');
                          };

                          document.querySelector('#chat-message-input').focus();
                          document.querySelector('#chat-message-input').onkeyup = function(e) {
                              if (e.keyCode === 13) {  // enter, return
                                  document.querySelector('#chat-message-submit').click();
                              }
                          };

                          document.querySelector('#chat-message-submit').onclick = function(e) {
                              const messageInputDom = document.querySelector('#chat-message-input');
                              const message = messageInputDom.value;
                              chatSocket.send(JSON.stringify({
                                  'message': message

                              }));
                              messageInputDom.value = '';



                          };

                      </script>



    							</div>
    						</div>
    					</div>
            </div>
          </div>
        </div>

{% endblock content%}
