{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Chat Room</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
					<div class="side-app">
            <br>
            <div class="container content-area">
              <div class="horizontal-content">

                <div class="row">
    							<div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="container">
                      <div id="chat-log">
                        {% for chat in chats.all %}
                          {% if chat.user.id == request.user.id %}
                            <div class="message sender">
                              <a href="{% url 'show_user' chat.user.username %}"><img href="" src="{{ chat.user.photographURL }}" alt="Photograph" class="profile-small"></a><strong class="text-light">Me:</strong> <span class="text-white">{{chat.content}}</span> <i class="text-dark">{{chat.timestamp}}</i>
                            </div>
                          {% else %}
                            <div class="message receiver">
                              <a href="{% url 'show_user' chat.user.username %}"><img href="" src="{{ chat.user.photographURL }}" alt="Photograph" class="profile-small"></a><strong class="text-light">{{chat.user}}:</strong> <span class="text-white">{{chat.content}}</span> <i class="text-dark">{{chat.timestamp}}</i>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>

                    </div>
                      <br>
                      <div class="container">
                        <input id="chat-message-input" type="text" size="50">
                        <input id="chat-message-submit" class="btn btn-sm btn-info" type="button" value="Send">
                        {{ room_name|json_script:"room-name" }}
                      </div>
                      {{ request.user.id|json_script:"user_id" }}
                      <script>
                          const chatLog = document.querySelector('#chat-log')
                          const roomName = JSON.parse(document.getElementById('room-name').textContent);

                          if (!chatLog.hasChildNodes()){
                              const emptyText = document.createElement('h3')
                              emptyText.id = 'emptyText'
                              emptyText.innerText = 'No Messages'
                              emptyText.className = 'emptyText'
                              chatLog.appendChild(emptyText)
                          }

                          const chatSocket = new WebSocket(
                              'wss://'
                              + window.location.host
                              + '/ws/chat/'
                              + roomName
                              + '/'
                          );

                          chatSocket.onmessage = function(e) {
                              const data = JSON.parse(e.data);
                              const messageElement = document.createElement('div')
                              const userId = data['user_id']
                              const loggedInUserId = JSON.parse(document.getElementById('user_id').textContent)
                              console.log(loggedInUserId)
                              messageElement.innerText = data.message

                              if (userId === loggedInUserId) {
                                  messageElement.classList.add('message', 'sender')
                              }
                              else {
                                  messageElement.classList.add('message', 'receiver')
                              }
                              chatLog.appendChild(messageElement)
                              if (document.querySelector('#emptyText')){
                                  document.querySelector('#emptyText').remove()
                              }
                          };


                          chatSocket.onclose = function(e) {
                              console.error('Chat socket closed unexpectedly');
                          };

                          document.querySelector('#chat-message-input').focus();
                          document.querySelector('#chat-message-input').onkeyup = function(e) {
                              if (e.keyCode === 13) {  // enter, return
                                  document.querySelector('#chat-message-submit').click();
                              }
                          };

                          document.querySelector('#chat-message-submit').onclick = function(e) {

                              const messageInputDom = document.querySelector('#chat-message-input');
                              const message = messageInputDom.value;
                              chatSocket.send(JSON.stringify({
                                  'message': message
                              }));
                              messageInputDom.value = '';
                          };
                      </script>

    							</div>
    						</div>
    					</div>
            </div>
          </div>
        </div>

{% endblock content%}
