{% extends "discover/base.html" %}
{% load discover_tags %}

{% block title %}Post{% endblock %}

{% block content %}
    <p class="date">Posted {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|markdown }}
    <p><a href="">Share this post</a></p>

    <h5 class="text-info">Similar posts</h5>
    {% for post in similar_posts %}
        <p><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
    {% empty %}
        There are no similar posts yet.
    {% endfor %}
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-11">
        {% with comments.count as total_comments %}
            <h5 class="text-info">{{ total_comments }} comment{{ total_comments|pluralize }}</h5>
        {% endwith %}

        {% for comment in comments %}
            <div>
                <p class="info">by {{ comment.name }} {{ comment.created }}</p>
                {{ comment.body|linebreaks }}
            </div>
        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}

        {% if new_comment %}
            <h5>Your comment has been added.</h5>
        {% else %}
        <h5 class="text-info">Add a new comment</h5>
        <form action="." method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Add comment"></p>
        </form>
      </div>
    </div>



    {%  endif %}
{% endblock %}
