{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load home_tags %}
{% block title %}
  <title>Payment History</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<div class=" app-content">
  <div class="side-app">
    <br>
    <div class="container content-area">
      <div class="horizontal-content">
        {% include '_alerts.html' %}

        <div class="row">



          <div class="col-xl-4 col-lg-4 col-md-12">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="text-info">Current bill</h4>
                <strong class="">{{current_bill}}</strong>

              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-12">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="text-info">Last payment date</h4>
                <strong class="">{{last_payment}}</strong>

              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-12">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="text-info">Next payment due</h4>
                <strong class="">{{next_payment}}</strong>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          {% if subscription_type == None or okay == "No" %}
          <div class="col-xl-12 col-lg-4 col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h4>Current Plan</h4>
              </div>
              <div class="col-md-6 text-right">
                {% if subscription_type == "Yearly" and okay == "Yes" %}
                <a href="{% url 'upgrade' %}" class="btn btn-info btn-sm">Upgrade</a>
                {% endif %}
              </div>
            </div>


            <div class="card overflow-hidden">
              <div class="card-header">
                <h3 class="card-title text-info">Et al. Free for all researchers</h3>
                <div class="card-options d-none d-sm-block">

                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <i class="far fa-check-circle text-info mr-1"></i>$0/User/Month <br>
                    <i class="far fa-check-circle text-info mr-1"></i>Initiate Unlimited Research eachoration Request. <br>
                    <i class="far fa-check-circle text-info mr-1"></i>Accept Unlimited Research eachoration. <br>
                    <i class="far fa-check-circle text-info mr-1"></i>Ask and Answer Research Questions on <strong>Community.</strong> <br>
                    <i class="far fa-check-circle text-info mr-1"></i>Monitor your Research eachoration progress on <strong>Dashboard.</strong> <br>

                  </div>
                  <div class="col-md-6">
                    <h5 class="">Not included:</h5>
                    <i class="far fa-times-circle text-red mr-1"></i><font size="+2">$5</font>/User/Month or <font size="+2">$50</font>(16% off)/User/Year <br>
                    <i class="far fa-times-circle text-red mr-1"></i>All in <strong>Free,</strong> plus: <br>
                    <i class="far fa-times-circle text-red mr-1"></i>Select your desired eachorators. <br>
                    <i class="far fa-times-circle text-red mr-1"></i>Manage your research documents, journals, textbooks etc your multiple Research eachoration on <strong>eachDoc.</strong> <br>
                    <i class="far fa-times-circle text-red mr-1"></i>Schedule events with your eachorators in multiple Research eachoration on <strong>Scheduler.</strong> <br>
                    <i class="far fa-times-circle text-red mr-1"></i>Assign, Monitor and Manage tasks among your eachorators with <strong>Tasks.</strong> <br>
                    <i class="far fa-times-circle text-red mr-1"></i>Communicate securely with your eachorators both synchronously and asynchronously in <strong>ChatRoom.</strong> <br>
                    <i class="far fa-times-circle text-red mr-1"></i>Organize, store and share your lab experiments, field works etc. in real-time with <strong>ResearchNote.</strong> <br>

                  </div>

                </div>
              </div>
            </div>
            {% endif %}

            {% if subscriptions_page_obj %}

            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title text-info">History</div>

                  </div>
                  <div class="card-body">
                    <div class="table-responsive mb-0">
                      <table class="table table-bordered table-hover mb-0 text-nowrap">
                        <thead>
                          <tr>
                            <th>Payment Date</th>
                            <th>Payment Id</th>
                            <th>Subscription Type</th>
                            <th>Amount Paid</th>
                            <th>Due Date</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for each in subscriptions_page_obj %}
                          <tr>
                            <td>{{each.created}}</td>
                            <td class="num-font">{{each.payment_id}}</td>
                            <td class="num-font">{{each.subscription_type}}</td>
                            <td class="num-font">{{each.current_bill|slice:":3"}}</td>
                            <td class="num-font">{{each.subscription_ends}}</td>
                            <td class="num-font"><a href="{% url 'receipt' each.payment_id %}"><strong><i class="fa fa-print fa-2x text-info"></i></strong></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}




      </div>
    </div>
  </div>
</div>

{% endblock content%}
